$pink: #EEB1C1;


@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova/ProximaNova-Regular.otf')  format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf')  format('truetype');
}

@mixin gradientD2($first, $second) {
  background: $first;
  background: -moz-linear-gradient(-75deg,  $first 1%, $second 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,$first), color-stop(100%,$second));
  background: -webkit-linear-gradient(-75deg,  $first 1%,$second 100%);
  background: -o-linear-gradient(-75deg,  $first 1%,$second 100%);
  background: -ms-linear-gradient(-75deg,  $first 1%,$second 100%);
  background: linear-gradient(135deg, $first 1%, $second 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
}

@mixin flex($align, $justify, $direction) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

          align-items: $align;
    -webkit-box-align: $align;
  -webkit-align-items: $align;
       -ms-flex-align: $align;

          justify-content: $justify;
         -webkit-box-pack: $justify;
  -webkit-justify-content: $justify;
            -ms-flex-pack: $justify;

  @if $justify == flex-end {
    -webkit-box-pack: end;
       -ms-flex-pack: end;
  }
  @if $justify == flex-start {
    -webkit-box-pack: start;
       -ms-flex-pack: start;
  }
  @if $justify == space-between {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
  }

  @if $direction == row {
  -webkit-box-orient: horizontal;
  }
  @if $direction == column {
  -webkit-box-orient: vertical;
  }
   -webkit-box-direction: normal;
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
         transform: $transform;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
         transition: $transition;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
         animation: $animation;
}

@-webkit-keyframes rotate-text {
  0%   { 
    @include transform(rotateX(180deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(rotateX(0deg)); 
    @include opacity(1);
  }
}
@-moz-keyframes rotate-text {
  0%   { 
    @include transform(rotateX(180deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(rotateX(0deg)); 
    @include opacity(1);
  }
}
@-o-keyframes rotate-text {
  0%   { 
    @include transform(rotateX(180deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(rotateX(0deg)); 
    @include opacity(1);
  }
}
@keyframes rotate-text {
  0%   { 
    @include transform(rotateX(180deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(rotateX(0deg)); 
    @include opacity(1);
  }
}

@-webkit-keyframes rotate-pic {
  0%   { 
    @include transform(scale(0.5) rotateX(90deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(scale(1) rotateX(0deg)); 
    @include opacity(1);
  }
}
@-moz-keyframes rotate-pic {
  0%   { 
    @include transform(scale(0.5) rotateX(90deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(scale(1) rotateX(0deg)); 
    @include opacity(1);
  }
}
@-o-keyframes rotate-pic {
  0%   { 
    @include transform(scale(0.5) rotateX(90deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(scale(1) rotateX(0deg)); 
    @include opacity(1);
  }
}
@keyframes rotate-pic {
  0%   { 
    @include transform(scale(0.5) rotateX(90deg)); 
    @include opacity(0);
  }
  100% { 
    @include transform(scale(1) rotateX(0deg)); 
    @include opacity(1);
  }
}



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  font-family: 'Proxima Nova';
  color: black;
  * {
    box-sizing: border-box;
  }

}

body {
  overflow-x: hidden;
  &.modal-open {
    overflow: hidden;
  }
}

h1 {
  font-family: 'Proxima Nova';
  font-size: 70px;
  margin: 0;
  color: rgba(0,0,0,0.2);
  text-transform: none;
}
h2 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 8px;
  text-align: center;
  @media only screen and (max-width: 750px) {
    font-size: 18px;
  }
}
h3 {
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
a {
  color: $pink;
}
a.button {
  @include gradientD2(#FFF8B3, #FFA9B8);
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  vertical-align: middle;
  border-radius: 35px;
  color: white;
  display: block;
  text-decoration: none;
}
p {
  line-height: 1.5;
}
$width: 960px;


section {
  width: 100%;
  position: relative;
  
  .container {
    position: relative;
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    
  }

}

$left: -180px;
$top: 30px;
$rotate: rotateY(-40deg);
$rotate-hover: rotateY(-30deg);
$scale: scale(1);

$t: -10px;
$translate-0:       translate3D($left * -2, $top * -2     , 0);
$translate-1:       translate3D($left * -1, $top * -1     , 0);
$translate-1-hover: translate3D($left * -1, $top *-1 + $t , 0);
$translate-2:       translate3D($left *  0, $top * 0      , 0);
$translate-2-hover: translate3D($left *  0, $top * 0 + $t , 0);
$translate-3:       translate3D($left *  1, $top * 1      , 0);
$translate-3-hover: translate3D($left *  1, $top * 1 + $t , 0);


// #gradient-bg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   .g1, .g2, .g3 {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     @include transition(0.5s all ease);
//     @include opacity(0);
//   }
//   .g1 {
//     @include gradientD2(#FFF7AA, #FF7992);
//   }
//   .g2 {
//     @include gradientD2(#FF7992, #739FFF);
//   }

//   &.g1 .g1, &.g2 .g2, &.g3 .g3 {
//     @include opacity(1);
//   }
// }

.me-container {
  width: 100%;
  height: 50%;
  @include flex(center, center, row);
  @include gradientD2(#525760, #272F39);
  z-index: 1;

  .me-item {
    height: 70%;
    position: relative;
    width: 200px;
    border-radius: 0 100px 0 100px;
    background: white;
  }


  .me-panel {
    height: 100%;
    position: relative;

    &.pic {
      flex: 1;
      width: 50%;
      background: rgba(0,0,0,0.2);
    }
    &.description {
      background: rgba(255,255,255,1);
      width: 50%;
      .photo {
        position: absolute;
        bottom: -75px;
        left: -75px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid white;
        background: url("../img/noob.svg") center center no-repeat;
        background-size: contain;
      }
      .angle {
        position: absolute;
        left: -200px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 1000px 200px;
        border-color: transparent transparent rgba(255,255,255,1) transparent;
      }
    }
  }
}


.section-me {
  width: 100%;
  height: 100%;
  @include gradientD2(#525760, #272F39);
  @include flex(center, center, column);
  .selfie {
    @include transition(0.9s all ease);
    flex: 0 0 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("../img/noob.png") center center no-repeat;
    background-size: contain;
    z-index: 1;
    border: 10px solid white;
  }
  .location {
    background: url("../img/icon_location.svg") left top no-repeat;
    background-size: auto 24px;
    padding-left: 35px;
    height: 29px;
    line-height: 29px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 13px;
  }
  .text {
    padding: 100px 50px 50px 50px;
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 7px;
    margin-top: -100px;
    text-align: center;

  }
  .container-nav {
    padding: 30px;
    text-align: center;
    a {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 0 20px;
      @include transition(0.3s all ease);
      @include transform(translateY(0px));
      &.linkedin {
        background: url("../img/icon_linkedin.svg") center center no-repeat;
        background-size: 18px auto;
      }
      &.github {
        background: url("../img/icon_github.svg") center center no-repeat;
        background-size: 23px auto;
      }
      &.behance {
        background: url("../img/icon_behance.svg") center center no-repeat;
        background-size: 23px auto;
      }
      &.email {
        background: url("../img/icon_email.svg") center center no-repeat;
        background-size: 20px auto;
      }
      &:hover {
        @include transform(translateY(10px));
      }
    }
  }
}

.section-about {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  @include flex(center, center, column);
  @include gradientD2(#FFF8B3, #FFA9B8);

  @media only screen and (max-width: 700px) {
    display: none;
  }
  h1 {
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.3);
    font-size: 120px;
    margin-bottom: -70px;
  }
  h2 {
    text-align: left;
    color: rgba(0,0,0,0.3);
  }
  .container-about {
    @include flex(center, center, row);
    margin: 120px 0px 100px 0px;
    width: 90%;
    border-radius: 4px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    @include transition(1.2s all ease-in);
    flex: 0 0 0;
    .about-panel {
      @include transition(1.2s all ease-in);
      @include opacity(0);
    }
    &.visible {
      flex: 0 1 100%;
      min-height: 300px;
      box-shadow: rgba(0,0,0,0.04) 0px 4px 20px 5px;  
      .about-panel {
        @include opacity(1);
      }
    }
  }
  .about-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.05);
    @include flex(center, center, row);
    .button-play {
      cursor: pointer;
      height: 150px;
      width: 150px;
      background: url("../img/icon_play.svg") center center no-repeat;
      background-size: contain;
      @include opacity(0.6);
      @include transition(0.3s all ease);
      &:hover {
        @include opacity(1);
        @include transform(translateY(-5px));
      }
    }
  }
  .about-panel {
    position: relative;
    @include transition(0.6s all ease);
    
    &.animation {
      flex: 1;
      height: 100%; 
      width: 100%;
      @include flex(center, center, column);

      .mobile {
        position: relative;
        height: 287px;
        width: 159px;
        padding: 0;
        margin: 0 auto;
        perspective: 1000px;
        @include transform(scale(0.9));


        .item {
          position: absolute;
          -webkit-backface-visibility: hidden;
          @include transition(0.8s all ease);
          @include transform(rotateY(0deg));
          z-index: -1;
          cursor: pointer;

          h3 {
            @include opacity(0);
            @include transition(0.3s all ease);
            position: absolute;
            bottom: -80px;
            left: -25%;
            width: 150%;
            text-align: center;
            color: rgba(255,255,255,0.8);
            
          }

          &:hover {
            z-index: 4;
          }

          &.rotate {
            @include transform($rotate);
          }

          &#mobile-0 {
            top: 0;
            left: 0;
            height: 287px;
            width: 159px;
            background-image: url("../img/ui-animation/mobile-0.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: default;
          }
          
          &#mobile-1 {
            top: 55px;
            left: 7px;
            height: 203px;
            width: 136px;
            opacity: 0;
            background-image: url("../img/ui-animation/mobile-3.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include opacity(0);
   
          }
          &#mobile-2 {
            top: 27px;
            left: 6px;
            height: 232px;
            width: 138px;
            background-image: url("../img/ui-animation/mobile-2.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            
          }
          &#mobile-3 {
            top: 27px;
            left: 7px;
            height: 232px;
            width: 136px;
            background-image: url("../img/ui-animation/mobile-1.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            
          }
        }

      }

      &.separate {
        .mobile .item {
          &:hover {
            h3 {
              @include opacity(1);
            }
          }
          &#mobile-0 {
            @include transform($translate-0 $rotate);
            opacity: 0;
          }
          &#mobile-1 {
            @include opacity(1);
            @include transform($translate-3 $rotate);
            &:hover {
              @include transform($scale $translate-3-hover $rotate-hover);
            }
          }
          
          &#mobile-2 {
            @include transform($translate-2 $rotate);
            &:hover {
              @include transform($scale $translate-2-hover $rotate-hover);
            }
          }
          &#mobile-3 {
            @include transform($translate-1 $rotate);
            &:hover {
              @include transform($scale $translate-1-hover $rotate-hover);
            }
          }
          
        }
      }

      &.expand {
        padding-left: 50px;
      }
    }


    &.description {
      position: relative;
      background: rgba(255,255,255,0.1);
      width: 0%;
      height: 100%;
      @include opacity(0);
      @include flex(flex-end, flex-start, row)
      .about-item {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding-left: 15px;
        z-index: 1;
        @include opacity(0);
        @include transition(0.6s all ease);
        @include transform(translateX(-200px));
        &.visible {
          @include opacity(1);
          @include transform(translateX(0px));
        }
      }
      &.expand {
        @include opacity(1);
        width: 30%;
        padding: 30px;
      }
      .close {
        height: 50px;
        width: 50px;
        background: rgba(255,255,255,0.1);
      }
      p {
        color: rgba(0,0,0,0.5);
        line-height: 1.5;
      }
      .angle {
        z-index: 0;
        position: absolute;
        right: -100px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1000px 100px 0 0;
        border-color: rgba(255,255,255,0.1) transparent transparent transparent;

      }
    }
  }

  .about-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    @include flex(center, center, row);
    @include opacity(0);
    @include transition(0.3s all ease);
    &.visible {
      @include opacity(1);
    }
    .nav-dot {
      cursor: pointer;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      margin: 5px;
      background: rgba(255,255,255,0.5);
      @include transition(0.2s all ease);
      &.active {
        background: rgba(255,255,255,1);
      }
    }
  }
}

.section-works {
  @include gradientD2(#525760, #272F39);
  padding: 100px 0;
  @include flex(center, center, row);
  flex-wrap: wrap;

  .works-item {
    flex: 0 0 400px;
    margin: 50px;
    height: 350px;
    width: 400px;
    @include flex(center, center, column);
    box-shadow: rgba(0,0,0,0.03) 0px 0px 10px 10px;
    border-radius: 3px;
    overflow: hidden;
    @include transition(0.4s all ease);
    cursor: pointer;
    @media only screen and (max-width: 500px) {
      flex: 0 0 90%;
      width: 90%;
    }
    &:hover {
      @include transform(translateY(-10px));
      box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    }

    .works-title {
      width: 100%;
      background: white;
      height: 50px;
      padding: 10px 20px;
      @include flex(center, space-between, row);
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      p {
        flex: 1;
      }
    }
    .works-preview {
      flex: 1;
    }
  }
}

.works-preview {
  width: 100%;
  &.dobundle {
    background: url("../img/works/02-dobundle/preview.png") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-checkin {
    background: url("../img/works/05-flatbook-guest-checkin/preview.png") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-site {
    background: url("../img/works/07-flatbook-website/preview.png") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-hk {
    background: url("../img/works/11-shaq/preview.png") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-booking {
    background: url("../img/works/06-flatbook-booking-website/preview.jpg") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-brand {
    background: url("../img/works/10-flatbook-brand/preview.png") center center no-repeat;
    background-size: cover;
  }
  &.flatbook-error {
    background: url("../img/works/08-flatbook-error/preview.jpg") center center no-repeat;
    background-size: cover;
  }
  &.travelhacks {
    background: url("../img/works/09-travelhacks/preview.jpg") center center no-repeat;
    background-size: cover;
  }
}

.section-contact {
  a {
    display: inline-block;
  }
}


.detail-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include opacity(0);
  pointer-events: none;
  overflow: auto;
  @include transition(0.3s all ease);

  .detail-bg {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @include transition(0.3s all ease);
    @include opacity(0);
  }

  .detail-body {
    position: relative;
    margin: 100px auto;
    width: 80%;
    max-width: 960px;
    @include transition(0.6s all ease);
    @include transform(translateY(100%));
    @media only screen and (max-width: 950px) {
      margin: 30px auto;
      width: 96%;
    }
    .detail-close {
      position: absolute;
      right: 15px;
      top: 15px;
      height: 15px;
      width: 15px;
      background: url("../img/icon_close.svg") center center no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    .works-preview {
      height: 500px;
      background-position: center center;
      @media only screen and (max-width: 750px) {
        height:200px;
      }
    }
    .details-content {
      padding: 50px 80px;
      width: 100%;
      background: white;
      text-align: center;
      @media only screen and (max-width: 750px) {
        padding: 30px;
      }
      a.icon-link {
        display: inline-block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        
        @include transition(0.5s all ease);
        @include transform(rotate(45deg));
        background: rgba(0,0,0,0.2);

        .icon {
          height: 45px;
          width: 45px;
          background: url("../img/icon_rightarrow.svg") center center no-repeat;
          background-size: 50%;
          @include transform(rotate(-45deg))
        }
        &:hover {
          border-radius: 0;
          background-color: rgba(0,0,0,0.6);
          @include transform(rotate(405deg));
        }
      }
      .two-col {
        width: 100%;
        @include flex(top, center, row);
        padding-top: 50px;
        padding-bottom: 50px; 
        margin-top: 30px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        @media only screen and (max-width: 750px) {
          display: block;
        }
        .col-role {
          flex: 0 0 230px;
          height: 100%;
          
          @media only screen and (max-width: 750px) {
            width: 100%;
            flex: 0 0 auto;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            margin-bottom: 50px;
          }
          h3 {
            font-size: 16px;
          }
          p, h3 {
            text-align: left;
          }
        }
        .col-text {
          flex: 1;
          height: 100%;
          padding-left: 30px;
          @media only screen and (max-width: 750px) {
            width: 100%;
            padding-left: 0;
          }
        }
      }
      h2 {
        margin-bottom: 30px;
        color: black;
      }
      p {
        font-size: 16px;
        padding: 0;
        margin: 10px auto;
        margin-bottom: 30px;
        line-height: 1.5;
        text-align: center;
      }
    }
  }

  &.visible {
    pointer-events: auto;
    @include opacity(1);
    .detail-bg {
      @include opacity(1);
    }
    .detail-body {
      @include transform(translateY(0%));
    }
  }
}
.screenshots {
  padding: 50px;
  width: 100%;
  @media only screen and (max-width: 950px) {
    padding: 10px;
  }
  > img {
    @include transition(0.3s all ease);
    border: 20px solid rgba(0,0,0,0.02);
    width: 90%;
    margin-bottom: 100px;
    @media only screen and (max-width: 950px) {
      width: 100%;
      margin-bottom: 50px;
    }
    &.mobile {
      width: 40%;
      @media only screen and (max-width: 950px) {
        width: 80%;
      }
    }
    &:hover {
      border: 20px solid rgba(0,0,0,0.1);
    }
  }
}
.label {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  text-align: left;
  margin: 10px 0;
  .dot {
    margin: 0 10px 0 15px;
  }
}
.dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 5px;
  &.design {
    background: #2DA4CB;
  }
  &.dev {
    background: #A452F2;
  }
  &.org {
    background: #F25E8A;
  }
  &.default {
    background: rgba(0,0,0,0.2);
  }

  .tooltip-tri {
    position: absolute;
    bottom: -14px;
    right: 3px;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgba(0,0,0,0.7);
    border-left: 15px solid transparent;
  }
  .tooltip {
    font-size: 10px;
    z-index: 1;
    position: absolute;
    bottom: -34px;
    right: 3px;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    letter-spacing: 1px;
    text-transform: none;
  }
  .tooltip, .tooltip-tri {
    @include opacity(0);
    @include transition(0.3s all ease);
  }
  &:hover {
    .tooltip, .tooltip-tri {
      @include opacity(1);
    }
  }
}
.divide {
  margin: 50px 0;
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.1);
}
.moodboard {
  width: 100%;
  @include flex(center, center, row);
  .col {
    flex: 0 0 33%;
    @include flex(center, center, column);
  }
  img {
    width: 100%;
  }
}
ul li {
  text-align: left;
  line-height: 1.5;
}
.brand {
  img.logo {
    width: 300px;
  }
  img.guidelines {
    width: 100%;
  }
}