<!DOCTYPE html>
<html>
<head>
  <title>Marketing Designer @ Trello | Assignment</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href=
  "css/main.css"
  rel="stylesheet">
  <link href=
  "css/normalize.css"
  rel="stylesheet">
  <link href=
  "css/metamorph-core.css"
  rel="stylesheet">
  <link href=
  "css/metamorph-core.css"
  rel="stylesheet">
  <link href=
  "css/style.css"
  rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/main.js"></script>

</head>
<body>




  <div class="global-header u-clearfix">
    <div class="global-header-section mod-left">
      <a class="global-header-section-logo mod-black" href=
      "/home"><img alt="Home" class="global-header-section-logo-image"
      src=
      "https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/trello-header-logos/1c3a2d636e34d62a6cb27d83e5e6956b/trello-logo-black.svg"></a>
    </div>
    <div class="global-header-section mod-right">
      <a class="global-header-section-button" href=
      "/">Log In</a> <a class=
      "global-header-section-button button-light-blue" href=
      "/">Sign Up</a>
    </div>
  </div>



  <section class="section-header">
    <div class="bg-grid"></div>
    <div class="bg-mountain"></div>
    <div class="section-wrapper layout-grid-frame">
      <div class="layout-twothirds-center">

        <h2>Marketing Playbook</h2>
        <p>See how Marketers are using Trello.</p>
        <br><br><br>
      </div>
    </div>



    <div class='grid-container'>
      <div class="profile-navigation center-1">
        <div class="profile focus"><img src="./img/profiles/2.jpg" /></div>
        <div class="profile"><img src="./img/profiles/3.jpg" /></div>
        <div class="profile"><img src="./img/profiles/4.jpg" /></div>
        <div class="profile"><img src="./img/profiles/5.jpg" /></div>
      </div>


      <div class="board-container visible" id="board-1">
        <div class="board-header">
          <span>Jenn's</span>
          <h3>Editorial Calendar</h3>
          <a href="/" class="button button-light-blue">Request a Demo</a>
        </div>

        <div class="board">
          <div class="list">
            <div class="title">Article Ideas</div>
            <div class="card-container">
              <div class="card">Give the Gift of Trello Gold</div>
              <div class="card">Unlimited Labels</div>
              <div class="card">Heritage Bike Shop Case Study</div>
              <div class="card">Roadmapping with a Public Trello Board</div>
              <div class="card">How To Use Trello Like A Pro</div>
              <div class="card">Introducing Power-Ups: Calendar, Card Aging, and More</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Researching</div>
            <div class="card-container">
              <div class="card">Wedding Planning With Trello</div>
              <div class="card">Kickstarter case study</div>
            </div>
          </div>
          <div class="list">
            <div class="title">On Hold</div>
            <div class="card-container">
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Writing</div>
            <div class="card-container">
              <div class="card">Article</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Editing and Graphics</div>
            <div class="card-container">
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Scheduled</div>
          </div>
          <div class="list">
            <div class="title">Promotion</div>
          </div>
          <div class="list">
            <div class="title">Ready to Publish</div>
          </div>
          <div class="list">
            <div class="title">Published</div>
            <div class="card-container">
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
              <div class="card">Article</div>
            </div>
          </div>

        </div>
      </div>



      <div class="board-container" id="board-2">
        <div class="board-header">
          <span>Ryan's</span>
          <h3>Marketing Brainstorm</h3>
          <a href="/" class="button button-light-blue">Request a Demo</a>
        </div>

        <div class="board">
          <div class="list">
            <div class="title">Ideas & Brainstorms</div>
            <div class="card-container">
              <div class="card">Video: Team members share social media tips</div>
              <div class="card">Video: Leo Whiteboard Friday</div>
              <div class="card">Republish content on Linkedin</div>
              <div class="card">Longform content on thought leadership</div>
              <div class="card">Case studies of Buffer customers</div>
              <div class="card">Twitter office hours</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Priority Experiments</div>
            <div class="card-container">
              <div class="card">Hangout on Air office hours</div>
              <div class="card">Webinars</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Current Experiments</div>
            <div class="card-container">
              <div class="card">Sample (S)</div>
              <div class="card">Start a podcast</div>
              <div class="card">Take 30 days off from the blog</div>
            </div>
          </div>
          <div class="list">
            <div class="title">History</div>
            <div class="card-container">
              <div class="card">Facebook Ads - What do you get by spending $5 per day?</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Project Ideas and Inspiration</div>
            <div class="card-container">
              <div class="card">http://roadtrip.unbounce.com/</div>
              <div class="card">http://roadtrip.unbounce.com/</div>
              <div class="card">http://roadtrip.unbounce.com/</div>
              <div class="card">http://roadtrip.unbounce.com/</div>
              <div class="card">http://roadtrip.unbounce.com/</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Videos to Create</div>
            <div class="card-container">
              <div class="card">a card</div>
              <div class="card">a card</div>
              <div class="card">a card</div>
            </div>
          </div>

        </div>
      </div>


      <div class="board-container" id="board-3">
        <div class="board-header">
          <span>Shannon's</span>
          <h3>Marketing Sample Board</h3>
          <a href="/" class="button button-light-blue">Request a Demo</a>
        </div>

        <div class="board">
          <div class="list">
            <div class="title">Start Here!</div>
            <div class="card-container">
              <div class="card">Department Rep</div>
              <div class="card">How to use this board</div>
              <div class="card">How we communicate as a team</div>
            </div>
          </div>
          <div class="list">
            <div class="title">This Week</div>
            <div class="card-container">
              <div class="card">Role</div>
              <div class="card">Role</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Up Next</div>
            <div class="card-container">
              <div class="card">Marketing Team Goals April</div>
              <div class="card">Redesign Blog</div>
              <div class="card">Start a webinar series</div>
            </div>
          </div>
          <div class="list">
            <div class="title">On Hold</div>
            <div class="card-container">
              <div class="card">Item</div>
              <div class="card">Item</div>
              <div class="card">Item</div>
              <div class="card">Item</div>
              <div class="card">Item</div>
              <div class="card">Item</div>
              <div class="card">Item</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Done</div>
            <div class="card-container">
              <div class="card">Spanish Translation</div>

            </div>
          </div>

        </div>
      </div>



      <div class="board-container" id="board-4">
        <div class="board-header">
          <span>Mark's</span>
          <h3>Weekly Newsletter #58</h3>
          <a href="/" class="button button-light-blue">Request a Demo</a>
        </div>

        <div class="board">
          <div class="list">
            <div class="title">Meta</div>
            <div class="card-container">
              <div class="card">June 20, 2015</div>
              <div class="card">preview_text</div>
              <div class="card">editors_note</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Latest Episode</div>
            <div class="card-container">
              <div class="card">#161: HTTP/2 with Ilya Grigorik</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Headlines and Links</div>
            <div class="card-container">
              <div class="card">Mobile is Eating the World</div>
              <div class="card">A Walkthrough of LoopBack, the Node API Framework You've Been Dreaming Of</div>
              <div class="card">HTTP/2 Explained</div>
              <div class="card">Mobile is Eating the World</div>
              <div class="card">A Walkthrough of LoopBack, the Node API Framework You've Been Dreaming Of</div>
              <div class="card">HTTP/2 Explained</div>
            </div>
          </div>
          <div class="list">
            <div class="title">Projects and Repos</div>
            <div class="card-container">
              <div class="card">Item</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Videos</div>
            <div class="card-container">
              <div class="card">What the heck is Octopress and why should I care?</div>

            </div>
          </div>
          <div class="list">
            <div class="title">Member Benefits</div>

          </div>

        </div>
      </div>



    </div>
  </section>







  <section class='section-tutorials'>
    <div class="bg-grid"></div>
    <div class="section-wrapper layout-grid-frame">
      <div class="layout-twothirds-center">

        <h3>Ready to get started?</h3>
        <p>Check out our in-depth walkthroughs.</p>
      </div>
    </div>

    <div class='tutorial-cards-container'>
      <div class='tutorial-card orange'>
        <div class="container-padding">
          <span>Team Meetings</span>
          <p>Keep your weekly stand-ups and debriefs efficient and enjoyable for everyone.</p>
        </div>

        <div class='icon'></div>
        <div class='links'>
          <a href='http://blog.trello.com/give-team-meetings-status-update/' target='_blank' class='button'>Tutorial</a>
        </div>
      </div>
      <div class='tutorial-card blue'>
        <div class="container-padding">
          <span>Event Planning</span>
          <p>Break your events into manageable phases, and communicate them to your team.</p>
        </div>
        <div class='icon'></div>
        <div class='links'>
          <a href='
http://blog.trello.com/tips-for-event-planners/' target='_blank' class='button'>Tutorial</a>
          <a href='
https://trello.wistia.com/medias/gzpmzxbrjz' target='_blank' class='button'>Video</a>
        </div>
      </div>
      <div class='tutorial-card pink'>
        <div class="container-padding">
          <span>Editorial Calendar</span>
          <p>Keep track of your entire editorial pipeline, from ideation to publishing.</p>
        </div>
        <div class='icon'></div>
        <div class='links'>
          <a href='http://blog.trello.com/moved-to-published-using-trello-as-an-editorial-calendar/' target='_blank' class='button'>Tutorial</a>
        </div>
      </div>
    </div>


  </section>



  <section class='section-powerups'>
    <div class="section-wrapper layout-grid-frame">
      <div class="layout-twothirds-right">
        <h2>Work with the tools you know</h2>
        <p>Trello makes it easy to power up your work flow. Add another sentence about how awesome power ups are!</p>
      </div>
    </div>

    <div class='powerups-container'>
      <a href=' http://blog.trello.com/a-better-way-to-gather-data-on-email-marketing-campaigns/' target='_blank' class='powerup'>
        <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/182df5214030e76ce90371bc15f2e7d2/power-up-mailchimp.png'/>
        <div class='text'>
          <span>Mailchimp</span>
          <p>Attach Mailchimp templates and campaigns directly onto cards.</p>
        </div>
      </a>
      <a href='http://blog.trello.com/trello-and-google-drive-an-integration-made-in-office-heaven/' target='_blank' class='powerup'>
        <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/d42977faed4ecaeb1264fdea88bb7b78/power-up-drive.png'/>
        <div class='text'>
          <span>Drive</span>
          <p>Show updated information for attached files and folders in Drive directly on your cards.</p>
        </div>
      </a>
      <a href='http://blog.trello.com/slack-trello-integration-powerup/' target='_blank' class='powerup'>
        <img src='https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png'/>
        <div class='text'>
          <span>Slack</span>
          <p>Send a Trello card directly to a Slack channel or direct message.</p>
        </div>
      </a>
      <a href='http://blog.trello.com/crazy-for-calendars/' target='_blank' class='powerup'>
        <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/373e7752cd7877d10e213555f03c56cf/power-up-calendar.png'/>
        <div class='text'>
          <span>Calendar</span>
          <p>Change due dates by dragging cards onto different dates directly in calendar mode.</p>
        </div>
      </a>
      <a href='http://blog.trello.com/bird-is-the-word-getting-social-with-twitter-and-trello/' target='_blank' class='powerup'>
        <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/f2cd305c00566651f5abf054ca7d883a/power-up-twitter.png'/>
        <div class='text'>
          <span>Twitter</span>
          <p>Attach tweets and see all their relevant info directly on your cards.</p>
        </div>
      </a>
      <a href='http://blog.trello.com/trello_evernote_integration/' target='_blank' class='powerup'>
        <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/052322ba751ecefb4621385bd3e2b87d/power-up-evernote.png'/>
        <div class='text'>
          <span>Evernote</span>
          <p>Access and attach your Evernote notes directly from your cards.</p>
        </div>
      </a>
    </div>
  </section>



  <section>
    <div class="section-wrapper layout-grid-frame">
      <div class="layout-twothirds-center">
        <div class="layout-centered-content">
          <h3>Let Trello help you focus on what you do best</h3>
          <a href='/' class="button mod-purple">Get Started</a>
        </div>

      </div>
    </div>

  </section>

  <footer class="global-footer">
    <ul class="global-footer-list">
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href="/tour">Tour</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href=
        "/pricing">Pricing</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href=
        "/platforms">Apps</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href="/jobs">Jobs</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href=
        "http://blog.trello.com/" target="_blank">Blog</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href=
        "http://developers.trello.com">Developers</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href="/about">About</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href=
        "http://help.trello.com/">Help</a>
      </li>
      <li class="global-footer-list-item">
        <a class="global-footer-list-item-link" href="/legal">Legal</a>
      </li>
    </ul>
    <p class="global-footer-detail">&copy; Copyright 2016, Trello, Inc. All
    rights reserved.</p>
  </footer>
</body>
</html>