section.section-about

  .container-me
    .selfie
    .text
      p Hi, I'm Shanna.

  .container-nav
    .container
      .nav
        a(href="#works") works
      .social
        a.linkedin(href="https://ca.linkedin.com/in/lashimmer" target="_blank") 
        a.github(href="https://github.com/lashimmer" target="_blank") 
        a.behance(href="https://www.behance.net/shannawang" target="_blank") 
        a.email(href="mailto:lashimmer@gmail.com?" target="_blank") 
  .container.container-about
    .about-panel.description 
      .angle
      .about-item.mobile-1
        h1 User Experience
        p The best design puts the user first. I'm always thinking about good user experience, putting a lot of focus on transitions, animations, and interactions in my designs.

        p Good user experience can't be defined overnight, though. Throughout my design process, I am constantly iterating on UX, looping back to stakeholders and users to determine their pain points, and how to resolve them.
      .about-item.mobile-2
        h1 User Interface
        p I am passionate about beautiful, clean, and minimal user interfaces. I keep up with the latest web trends, and am always trying to innovate on unique, interesting layouts.
      .about-item.mobile-3
        h1 Code
        p On top of being a designer, I also like to execute my own designs in code, fine-tuning any interaction designs that can't be presented in a static mock. My background is in software engineering, after all, and I like my code to be as clean as my interfaces.

    .about-panel.animation
      .mobile
        .item#mobile-0
        .item#mobile-3
          h3 Code
        .item#mobile-2
          h3 UI Design
        .item#mobile-1
          h3 UX Design
    .about-nav
      .nav-dot
      .nav-dot
      .nav-dot