form#contact-form(action='/contact', method='post', role='form')
  fieldset
    label(for='name') Name
    input#name(name='name', type='text', placeholder='Your name', required='', <label='', for='email')
    | Email
    input#email(name='email', type='text', placeholder='Your email', required='', <label='', for='message')
    | Message
    textarea#message(name='message', placeholder='Enter your message here', rows='3', required='', <='', textarea='')
      | <button type="submit">Submit</button>
      | </fieldset>
      | </form>
