header
  .header-bg
  .header-left
    .header-left--text
      h1 Shanna Wang
      h3 Product designer · front-end developer

      p Hello! I'm passionate about creating meaningful, human experiences.



  .header-right
    .header-right--text

      a.button(href='/contact')
        | Get in touch
        img(src='../img/2019/arrow_right.svg')