section.description
  h2 My work


section.my-work



  a.work-item(href="/designs/college-lol")
    img(src='../img/2019/works/college-lol/mocks/preview.png')
    h4 College League of Legends 2020
    p UX Design, Strategy

  //- a.work-item(href="/designs/comet-design-system")
  //-   img(src='../img/2019/works/college-lol/mocks/preview.png')
  //-   h4 Comet Design System
  //-   p UX design, Branding, Strategy

  //- a.work-item(href="/designs/sales-life")
  //-   img(src='../img/2019/works/sales-life/mocks/preview.png')
  //-   h4 Saleslife App
  //-   p UX design, Strategy, Interaction design



  //- a.work-item(href="/designs/water-slide-estimator")
  //-   img(src='../img/2019/works/water-slide-estimator/mocks/preview.png')
  //-   h4 Water Slide Estimator
  //-   p UX design



  //-  a.work-item(href="/designs/jenny-life")
  //-   img(src='../img/2019/works/jenny-life/mocks/preview.png')
  //-   h4 Jenny Life
  //-   p Branding, UX design

  a.work-item(href="/designs/play-network")
    img(src='../img/2019/works/play-network/mocks/preview.png')
    h4 Play Network
    p Visual Design, Front-end Development

  a.work-item(href="/designs/zambah")
    img(src='../img/2019/works/zambah/mocks/preview.png')
    h4 Zambah
    p Visual Design

  a.work-item(href="/designs/youcollab")
    img(src='../img/2019/works/youcollab/mocks/preview.png')
    h4 Youcollab
    p Visual Design, Interaction Design

  a.work-item(href="/designs/flatbook")
    img(src='../img/2019/works/flatbook/mocks/preview.png')
    h4 Flatbook
    p Branding, UX Design, Front-end Development

  a.work-item(href="/designs/travelhacks")
    img(src='../img/2019/works/travelhacks/mocks/preview.png')
    h4 Travelhacks
    p Organizer, Visual Design, Front-end Development




