section.description
  h2 My work

section.my-work

  a.work-item.featured(href="/designs/apple")
    img(src='../img/2019/works/apple/preview.png')
    .work-description
      .text
        h4 Apple
        span Strategy, UI/UX

        p Internal tools for Apple Music, Books, and Podcasts.

      .action
        .button
          | Learn more
          img(src='../img/2019/arrow_right.svg')

  a.work-item.featured(href="/designs/comet-design-system")
    img(src='../img/2019/works/comet-design-system/mocks/preview.png')
    .work-description
      .text
        h4 Comet Design System
        span UI/UX, Branding, Strategy

        p A design system for an online video game tournament-hosting platform.

      .action
        .button
          | Read case study
          img(src='../img/2019/arrow_right.svg')

   a.work-item.featured(href="/designs/water-slide-estimator")
    img(src='../img/2019/works/water-slide-estimator/mocks/preview.png')
    .work-description
      .text
        h4 Water Slide Estimator
        span UI/UX

        p A slide building and ROM-estimation tool for sales representatives.

      .action
        .button
          | Read case study
          img(src='../img/2019/arrow_right.svg')


  a.work-item.featured(href="/designs/college-lol")
    img(src='../img/2019/works/college-lol/mocks/preview.png')
    .work-description
      .text
        h4 College League of Legends 2020
        span UI/UX, Strategy

        p The registration and team management experiences for the 2020 season of College League of Legends.

      .action
        .button
          | Read case study
          img(src='../img/2019/arrow_right.svg')


  a.work-item.featured(href="/designs/sales-life")
    img(src='../img/2019/works/sales-life/mocks/preview.png')
    .work-description
      .text
        h4 Saleslife App
        span UI/UX, Strategy

        p An AI-based recommendations and visual scheduling CRM for field sales representatives.

      .action
        .button
          | Read case study
          img(src='../img/2019/arrow_right.svg')





   a.work-item(href="/designs/jenny-life")
    img(src='../img/2019/works/jenny-life/mocks/preview.png')
    h4 Jenny Life
    span Branding, UX design


  a.work-item(href="/designs/play-network")
    img(src='../img/2019/works/play-network/mocks/preview.png')
    h4 Play Network
    span Visual Design, Front-end Development

  a.work-item(href="/designs/zambah")
    img(src='../img/2019/works/zambah/mocks/preview.png')
    h4 Zambah
    span Visual Design

  a.work-item(href="/designs/youcollab")
    img(src='../img/2019/works/youcollab/mocks/preview.png')
    h4 Youcollab
    span Visual Design, Interaction Design

  a.work-item(href="/designs/flatbook")
    img(src='../img/2019/works/flatbook/mocks/preview.png')
    h4 Flatbook
    span Branding, UX Design, Front-end Development

  a.work-item(href="/designs/travelhacks")
    img(src='../img/2019/works/travelhacks/mocks/preview.png')
    h4 Travelhacks
    span Organizer, Visual Design, Front-end Development




