doctype html
html
  head
    title Shanna Wang
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/jquery/jquery.js")
    script(src='/js/main.js')
  body
    block content
