doctype html
html
  head
    title Shanna - Portfolio
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


    meta(property='og:url', content='http://shannawang.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Shanna - Product Design + Strategy')
    meta(property='og:description', content='Product Design + Strategy')
    meta(property='og:image', content='http://www.shannawang.com/img/preview.png')

    link(rel='icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content

    script(src="/jquery/jquery.js")
    script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
    script(src="/swupscroll/SwupScrollPlugin.js")
    script(src='/js/pofo-v2.js')
