.details.dobundle
  .works-preview.dobundle
  .details-content 
    h2 Dobundle

    a.icon-link(href="http://dobundle.com/", target="blank")
      .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Front End Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML
        .label  
          .dot.default
          | CSS
        .label  
          .dot.default
          | PHP
        .label 
          .dot.default
          | JavaScript (Jquery)

      .col-text
        p DoBundle is an e-commerce platform that allows users to curate or organize products into bundles, which can then be browsed and searched in a Pinterest-inspired platform. Whether you're starting a new hobby and want a beginner's kit, or looking for the perfect outfit to go with your new shoes, DoBundle lets you find what you need, and fast.

        p Working with another back-end developer and a product designer, I translated static designs into working, responsive web pages. My own independent design work was focused on implementing clean and minimal interfaces for the bundle browsing experience and landing page, as well as smooth user interaction animations and transitions. Through A/B testing and feedback from our mentors at FounderFuel, we were able to improve the user experience of the product through iterations.

    .screenshots
      img(src="/img/works/02-dobundle/1.jpg")
      img(src="/img/works/02-dobundle/2.jpg")
      img(src="/img/works/02-dobundle/3.jpg")
