.details.flatbook-brand
  .works-preview.flatbook-brand
  .details-content 
    h2 Flatbook - Brand


    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
 
      .col-text
        p Flatbook underwent a complete rebrand in the summer of 2015, including its mission, vision, logo, and colours. Together with an art director and a graphic designer, we created Flatbook's new brand identity and story.
    
    .screenshots
      h3 Moodboard
      .moodboard
        .col
          img(src="/img/works/10-flatbook-brand/moodboard/1.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/12.png")
          img(src="/img/works/10-flatbook-brand/moodboard/7.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/4.png")
        .col
          img(src="/img/works/10-flatbook-brand/moodboard/5.png")
          img(src="/img/works/10-flatbook-brand/moodboard/6.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/8.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/3.png")
        .col
          img(src="/img/works/10-flatbook-brand/moodboard/9.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/2.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/10.jpg")
          img(src="/img/works/10-flatbook-brand/moodboard/11.jpg")

      .divide

      h3 Brand Story

      p We knew the feelings that we wanted the brand to evoke - feelings of peace, serenity, a sense of connectedness with the world around us. At the root of the travel experience is the creation of memories -- unforgettable moments, whether of discovery and wonder at the world's culture and customs, or the joy of getting to spend time with the people you love. We wanted an image powerful enough to convey these feelings without the need for a single word.

      p That's how we came to the sunset. No matter what anyone is doing, they'll stop to take a breath, and enjoy the rising or setting of the sun. In that moment, all worries and stress are forgotten, and a memory is created. It's something that is difficult to capture in photo or film, reminding us of the importance of being present and in the moment. 

      p Like our brand, a sunrise:
      ul
        li is consistent. You can always be sure to see one again the next day, the same way you can rely on our services and 24-hour support. 
        li is always unique, depending where you are, just as our spaces are designed for the city you're in. 
        li is a reminder that a new day is here or coming, as we push to innovate the hospitality industry. 

      .divide


      .brand
        img.logo(src="/img/works/10-flatbook-brand/logo.svg")
        img.guidelines(src="/img/works/10-flatbook-brand/2.jpg")