.details.flatbook-error
  .works-preview.flatbook-error
  .details-content 
    h2 Flatbook - 404 Page

    a.icon-link(href="http://flatbook.co/error/", target="_blank")
      .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.dev 
          | Full Stack Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery)

      .col-text
        p At Flatbook, we value guest experience above all else. So we really wanted to make our 404 page special, to ease that pain point of users running into a legacy page or an invalid URL. 

        p Our designer and copy writer came up with this concept, and I was the developer who brought it to life. I implemented subtle CSS animations to change the colour of the sky as the sun set, have the clouds hover in the sky, and move the little cars across the page to simulate traffic.

    .screenshots
      img(src="/img/works/08-flatbook-error/1.jpg")
      img(src="/img/works/08-flatbook-error/2.jpg")
      img(src="/img/works/08-flatbook-error/3.jpg")