.details.flatbook-checkin
  .works-preview.flatbook-checkin
  .details-content 
    h2 Flatbook - Guest Check In


    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Full Stack Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery, UJS)

      .col-text
        p This is a redesign of Flatbook's guest check-in process. Previously, guests were asked check-in questions through various platforms, such as phone, email, or whatever messaging system available from the rental site they booked on. They were then directed to different places to upload their ID and credit card information.

        p The new process combines the old elements together into one cohesive multi-step form. The details of the guest's stay are presented statically on the left, while the dynamic, responsive form on the right transitions smoothly between steps using unobtrusive javascript. Based on user feedback from guests using the old ID upload system, UX improvements were implemented as well as a general UI update.

        p For this project, I was fully in charge of the design, UI, and UX, and held multiple meetings with relevant stakeholders to obtain feedback and clarify their needs. I worked with a backend developer to bring this feature live.

    .screenshots
      img(src="/img/works/05-flatbook-guest-checkin/1.png")
      img(src="/img/works/05-flatbook-guest-checkin/2.png")
      img(src="/img/works/05-flatbook-guest-checkin/3.png")
      img(src="/img/works/05-flatbook-guest-checkin/4.png")
      img(src="/img/works/05-flatbook-guest-checkin/5.png")
      img(src="/img/works/05-flatbook-guest-checkin/6.png")
      img(src="/img/works/05-flatbook-guest-checkin/7.png")


