.details.poolr
  .works-preview.poolr
  .details-content
    h2 Poolr

    //- a.icon-link(href="http://poolr.io/", target="_blank")
    //-   .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev
          | Front End Developer

        .divide

        h3 Tools:
        .label
          .dot.default
          | Sketch3
        .label
          .dot.default
          | Principle

        .divide

        h3 Technology:
        .label
          .dot.default
          | HTML
        .label
          .dot.default
          | CSS/Sass

      .col-text
        p Poolr is a networking app to connect professionals while carpooling.

        p Poolr was the first-prize winner at Vancouver Startup Week's 2016 Hackathon. I was the UI/UX designer on the team, and spent an amazing weekend with my team creating the branding, business model, and visual prototype of the MVP.

        p We're using our prize money to bring the the MVP into development, and getting market validation through our first clients. I'm excited to see where Poolr goes!
    .screenshots
      img(src="/img/works/13-poolr/1.png")
      video(controls="controls" width="344" height="600" name="Video Name" src="/img/works/13-poolr/mockup.mov")
