.details.youcollab
  .works-preview.youcollab
  .details-content
    h2 YouCollab

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer

        .divide

        h3 Tools:
        .label
          .dot.default
          | Sketch
        .label
          .dot.default
          | Pixate

      .col-text
        p YouCollab is a platform where content-creators on YouTube can connect in a Tinder-like interface to do collaborations together.

        p I re-imagined the page where the user swipes left or right to be matched with a potential collaborator.

    .screenshots
      img(src="/img/works/14-youcollab/1.png")
      img(src="/img/works/14-youcollab/2.png")
      img(src="/img/works/14-youcollab/3.png")
      video(controls="controls" width="344" height="600" name="Video Name" src="/img/works/14-youcollab/mockup.mp4")
