extends ./layouts/pofo-v2

block content

  .container-full#swup

    .transition-container-slide-out.container-background
      .transition-pane-slide-out.panel
      .transition-pane-slide-out.panel
      .transition-pane-slide-out.panel

    .transition-fade.container
      include ./includes/top.jade

      include ./includes/contact-form.jade


      include ./includes/footer.jade