extends ./layouts/pofo-v2

block content

  .container-full.container-vcenter#swup
    .container-background
      .transition-pane-slide-in.panel
      .transition-pane-slide-in.panel
      .transition-pane-slide-in.panel

    .transition-fade
      form.password(action="/" method="post")

        h3 Sorry, that password was incorrect. Please try again.
        .form-content
          .transition-shake.input-group
            label Enter password
            input(type="password" id="PPP1" name="PPP1" placeholder="Enter password")
          br
          input.button(type="submit" value="Continue")