extends ./layouts/pofo-v2

block content

  .container-full.container-vcenter#swup
    .container-background.container
      .transition-pane-slide-in.panel
      .transition-pane-slide-in.panel
      .transition-pane-slide-in.panel

    form.password(action="/" method="post")
      a.back(href="/")
        img(src='../img/2019/arrow_left.svg')
        | Back
      .transition-fade

        h3 Access granted upon request.
        .form-content
          .input-group
            label Enter password
            input(type="password" id="PPP1" name="PPP1" placeholder="Enter password")
          br
          input.button(type="submit" value="Continue")