@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Proxima-Nova/ProximaNova-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@-webkit-keyframes rotate-text {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@-moz-keyframes rotate-text {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@-o-keyframes rotate-text {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes rotate-text {
  0% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@-webkit-keyframes rotate-pic {
  0% {
    -webkit-transform: scale(0.5) rotateX(90deg);
    transform: scale(0.5) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@-moz-keyframes rotate-pic {
  0% {
    -webkit-transform: scale(0.5) rotateX(90deg);
    transform: scale(0.5) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@-o-keyframes rotate-pic {
  0% {
    -webkit-transform: scale(0.5) rotateX(90deg);
    transform: scale(0.5) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes rotate-pic {
  0% {
    -webkit-transform: scale(0.5) rotateX(90deg);
    transform: scale(0.5) rotateX(90deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100); } }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Proxima Nova';
  color: black; }
  html *, body * {
    box-sizing: border-box; }

body {
  overflow-x: hidden; }
  body.modal-open {
    overflow: hidden; }

h1 {
  font-family: 'Proxima Nova';
  font-size: 70px;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
  text-transform: none; }

h2 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 8px;
  text-align: center; }
  @media only screen and (max-width: 750px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px; }

a {
  color: #EEB1C1; }

a.button {
  background: #FFF8B3;
  background: -moz-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #FFF8B3), color-stop(100%, #FFA9B8));
  background: -webkit-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -o-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -ms-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: linear-gradient(135deg, #FFF8B3 1%, #FFA9B8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  vertical-align: middle;
  border-radius: 35px;
  color: white;
  display: block;
  text-decoration: none; }

p {
  line-height: 1.5; }

section {
  width: 100%;
  position: relative; }
  section .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }

.me-container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #525760;
  background: -moz-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #525760), color-stop(100%, #272F39));
  background: -webkit-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -o-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -ms-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: linear-gradient(135deg, #525760 1%, #272F39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
  z-index: 1; }
  .me-container .me-item {
    height: 70%;
    position: relative;
    width: 200px;
    border-radius: 0 100px 0 100px;
    background: white; }
  .me-container .me-panel {
    height: 100%;
    position: relative; }
    .me-container .me-panel.pic {
      flex: 1;
      width: 50%;
      background: rgba(0, 0, 0, 0.2); }
    .me-container .me-panel.description {
      background: white;
      width: 50%; }
      .me-container .me-panel.description .photo {
        position: absolute;
        bottom: -75px;
        left: -75px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid white;
        background: url("../img/noob.svg") center center no-repeat;
        background-size: contain; }
      .me-container .me-panel.description .angle {
        position: absolute;
        left: -200px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0px 1000px 200px;
        border-color: transparent transparent white transparent; }

.section-me {
  width: 100%;
  height: 100%;
  background: #525760;
  background: -moz-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #525760), color-stop(100%, #272F39));
  background: -webkit-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -o-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -ms-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: linear-gradient(135deg, #525760 1%, #272F39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section-me .selfie {
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    flex: 0 0 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("../img/noob.png") center center no-repeat;
    background-size: contain;
    z-index: 1;
    border: 10px solid white; }
  .section-me .location {
    background: url("../img/icon_location.svg") left top no-repeat;
    background-size: auto 24px;
    padding-left: 35px;
    height: 29px;
    line-height: 29px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 13px; }
  .section-me .text {
    padding: 100px 50px 50px 50px;
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 7px;
    margin-top: -100px;
    text-align: center; }
  .section-me .container-nav {
    padding: 30px;
    text-align: center; }
    .section-me .container-nav a {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 0 20px;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }
      .section-me .container-nav a.linkedin {
        background: url("../img/icon_linkedin.svg") center center no-repeat;
        background-size: 18px auto; }
      .section-me .container-nav a.github {
        background: url("../img/icon_github.svg") center center no-repeat;
        background-size: 23px auto; }
      .section-me .container-nav a.behance {
        background: url("../img/icon_behance.svg") center center no-repeat;
        background-size: 23px auto; }
      .section-me .container-nav a.email {
        background: url("../img/icon_email.svg") center center no-repeat;
        background-size: 20px auto; }
      .section-me .container-nav a:hover {
        -webkit-transform: translateY(10px);
        transform: translateY(10px); }

.section-about {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFF8B3;
  background: -moz-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #FFF8B3), color-stop(100%, #FFA9B8));
  background: -webkit-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -o-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: -ms-linear-gradient(-75deg, #FFF8B3 1%, #FFA9B8 100%);
  background: linear-gradient(135deg, #FFF8B3 1%, #FFA9B8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 ); }
  .section-about h1 {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 120px;
    margin-bottom: -70px; }
  .section-about h2 {
    text-align: left;
    color: rgba(0, 0, 0, 0.3); }
  .section-about .container-about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 120px 0px 100px 0px;
    width: 90%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    -webkit-transition: 1.2s all ease-in;
    transition: 1.2s all ease-in;
    flex: 0 0 0; }
    .section-about .container-about * {
      -webkit-transition: 1.2s all ease-in;
      transition: 1.2s all ease-in;
      opacity: 0;
      filter: alpha(opacity=0); }
    .section-about .container-about.visible {
      flex: 0 1 100%;
      min-height: 300px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 20px 5px; }
      .section-about .container-about.visible * {
        opacity: 1;
        filter: alpha(opacity=100); }
  .section-about .about-panel {
    position: relative;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease; }
    .section-about .about-panel.animation {
      flex: 1;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section-about .about-panel.animation .mobile {
        position: relative;
        height: 287px;
        width: 159px;
        padding: 0;
        margin: 0 auto;
        perspective: 1000px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9); }
        .section-about .about-panel.animation .mobile .item {
          position: absolute;
          -webkit-backface-visibility: hidden;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          z-index: -1;
          cursor: pointer; }
          .section-about .about-panel.animation .mobile .item h3 {
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            position: absolute;
            bottom: -80px;
            left: -25%;
            width: 150%;
            text-align: center;
            color: rgba(255, 255, 255, 0.8); }
          .section-about .about-panel.animation .mobile .item:hover {
            z-index: 4; }
          .section-about .about-panel.animation .mobile .item.rotate {
            -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg); }
          .section-about .about-panel.animation .mobile .item#mobile-0 {
            top: 0;
            left: 0;
            height: 287px;
            width: 159px;
            background-image: url("../img/ui-animation/mobile-0.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: default; }
          .section-about .about-panel.animation .mobile .item#mobile-1 {
            top: 55px;
            left: 7px;
            height: 203px;
            width: 136px;
            opacity: 0;
            background-image: url("../img/ui-animation/mobile-3.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0;
            filter: alpha(opacity=0); }
          .section-about .about-panel.animation .mobile .item#mobile-2 {
            top: 27px;
            left: 6px;
            height: 232px;
            width: 138px;
            background-image: url("../img/ui-animation/mobile-2.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
          .section-about .about-panel.animation .mobile .item#mobile-3 {
            top: 27px;
            left: 7px;
            height: 232px;
            width: 136px;
            background-image: url("../img/ui-animation/mobile-1.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
      .section-about .about-panel.animation.separate .mobile .item:hover h3 {
        opacity: 1;
        filter: alpha(opacity=100); }
      .section-about .about-panel.animation.separate .mobile .item#mobile-0 {
        -webkit-transform: translate3D(360px, -60px, 0) rotateY(-40deg);
        transform: translate3D(360px, -60px, 0) rotateY(-40deg);
        opacity: 0; }
      .section-about .about-panel.animation.separate .mobile .item#mobile-1 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3D(-180px, 30px, 0) rotateY(-40deg);
        transform: translate3D(-180px, 30px, 0) rotateY(-40deg); }
        .section-about .about-panel.animation.separate .mobile .item#mobile-1:hover {
          -webkit-transform: scale(1) translate3D(-180px, 20px, 0) rotateY(-30deg);
          transform: scale(1) translate3D(-180px, 20px, 0) rotateY(-30deg); }
      .section-about .about-panel.animation.separate .mobile .item#mobile-2 {
        -webkit-transform: translate3D(0px, 0px, 0) rotateY(-40deg);
        transform: translate3D(0px, 0px, 0) rotateY(-40deg); }
        .section-about .about-panel.animation.separate .mobile .item#mobile-2:hover {
          -webkit-transform: scale(1) translate3D(0px, -10px, 0) rotateY(-30deg);
          transform: scale(1) translate3D(0px, -10px, 0) rotateY(-30deg); }
      .section-about .about-panel.animation.separate .mobile .item#mobile-3 {
        -webkit-transform: translate3D(180px, -30px, 0) rotateY(-40deg);
        transform: translate3D(180px, -30px, 0) rotateY(-40deg); }
        .section-about .about-panel.animation.separate .mobile .item#mobile-3:hover {
          -webkit-transform: scale(1) translate3D(180px, -40px, 0) rotateY(-30deg);
          transform: scale(1) translate3D(180px, -40px, 0) rotateY(-30deg); }
      .section-about .about-panel.animation.expand {
        padding-left: 50px; }
    .section-about .about-panel.description {
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      width: 0%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-end;
      -webkit-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      justify-content: flex-start;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .section-about .about-panel.description .about-item {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding-left: 15px;
        z-index: 1;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: 0.6s all ease;
        transition: 0.6s all ease;
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px); }
        .section-about .about-panel.description .about-item.visible {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transform: translateX(0px);
          transform: translateX(0px); }
      .section-about .about-panel.description.expand {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 30%;
        padding: 30px; }
      .section-about .about-panel.description .close {
        height: 50px;
        width: 50px;
        background: rgba(255, 255, 255, 0.1); }
      .section-about .about-panel.description p {
        color: rgba(0, 0, 0, 0.5);
        line-height: 1.5; }
      .section-about .about-panel.description .angle {
        z-index: 0;
        position: absolute;
        right: -100px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1000px 100px 0 0;
        border-color: rgba(255, 255, 255, 0.1) transparent transparent transparent; }
  .section-about .about-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .section-about .about-nav .nav-dot {
      cursor: pointer;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      margin: 5px;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
      .section-about .about-nav .nav-dot.active {
        background: white; }

.section-works {
  background: #525760;
  background: -moz-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #525760), color-stop(100%, #272F39));
  background: -webkit-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -o-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: -ms-linear-gradient(-75deg, #525760 1%, #272F39 100%);
  background: linear-gradient(135deg, #525760 1%, #272F39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$first, endColorstr=$second,GradientType=1 );
  padding: 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap; }
  .section-works .works-item {
    flex: 0 0 400px;
    margin: 50px;
    height: 350px;
    width: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 10px 10px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    cursor: pointer; }
    @media only screen and (max-width: 500px) {
      .section-works .works-item {
        flex: 0 0 90%;
        width: 90%; } }
    .section-works .works-item:hover {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 5px; }
    .section-works .works-item .works-title {
      width: 100%;
      background: white;
      height: 50px;
      padding: 10px 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      justify-content: space-between;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px; }
      .section-works .works-item .works-title p {
        flex: 1; }
    .section-works .works-item .works-preview {
      flex: 1; }

.works-preview {
  width: 100%; }
  .works-preview.dobundle {
    background: url("../img/works/02-dobundle/preview.png") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-checkin {
    background: url("../img/works/05-flatbook-guest-checkin/preview.png") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-site {
    background: url("../img/works/07-flatbook-website/preview.png") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-hk {
    background: url("../img/works/11-shaq/preview.png") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-booking {
    background: url("../img/works/06-flatbook-booking-website/preview.jpg") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-brand {
    background: url("../img/works/10-flatbook-brand/preview.png") center center no-repeat;
    background-size: cover; }
  .works-preview.flatbook-error {
    background: url("../img/works/08-flatbook-error/preview.jpg") center center no-repeat;
    background-size: cover; }
  .works-preview.travelhacks {
    background: url("../img/works/09-travelhacks/preview.jpg") center center no-repeat;
    background-size: cover; }

.section-contact a {
  display: inline-block; }

.detail-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
  overflow: auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .detail-container .detail-bg {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    filter: alpha(opacity=0); }
  .detail-container .detail-body {
    position: relative;
    margin: 100px auto;
    width: 80%;
    max-width: 960px;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
    @media only screen and (max-width: 950px) {
      .detail-container .detail-body {
        margin: 30px auto;
        width: 96%; } }
    .detail-container .detail-body .detail-close {
      position: absolute;
      right: 15px;
      top: 15px;
      height: 15px;
      width: 15px;
      background: url("../img/icon_close.svg") center center no-repeat;
      background-size: contain;
      cursor: pointer; }
    .detail-container .detail-body .works-preview {
      height: 500px;
      background-position: center center; }
      @media only screen and (max-width: 750px) {
        .detail-container .detail-body .works-preview {
          height: 200px; } }
    .detail-container .detail-body .details-content {
      padding: 50px 80px;
      width: 100%;
      background: white;
      text-align: center; }
      @media only screen and (max-width: 750px) {
        .detail-container .detail-body .details-content {
          padding: 30px; } }
      .detail-container .detail-body .details-content a.icon-link {
        display: inline-block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: rgba(0, 0, 0, 0.2); }
        .detail-container .detail-body .details-content a.icon-link .icon {
          height: 45px;
          width: 45px;
          background: url("../img/icon_rightarrow.svg") center center no-repeat;
          background-size: 50%;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .detail-container .detail-body .details-content a.icon-link:hover {
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0.6);
          -webkit-transform: rotate(405deg);
          transform: rotate(405deg); }
      .detail-container .detail-body .details-content .two-col {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: top;
        -webkit-box-align: top;
        -webkit-align-items: top;
        -ms-flex-align: top;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        @media only screen and (max-width: 750px) {
          .detail-container .detail-body .details-content .two-col {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: top;
            -webkit-box-align: top;
            -webkit-align-items: top;
            -ms-flex-align: top;
            justify-content: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; } }
        .detail-container .detail-body .details-content .two-col .col-role {
          flex: 0 0 230px;
          height: 100%; }
          @media only screen and (max-width: 750px) {
            .detail-container .detail-body .details-content .two-col .col-role {
              padding-bottom: 50px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              margin-bottom: 50px; } }
          .detail-container .detail-body .details-content .two-col .col-role h3 {
            font-size: 16px; }
          .detail-container .detail-body .details-content .two-col .col-role p, .detail-container .detail-body .details-content .two-col .col-role h3 {
            text-align: left; }
        .detail-container .detail-body .details-content .two-col .col-text {
          flex: 1;
          height: 100%;
          padding-left: 30px; }
          @media only screen and (max-width: 750px) {
            .detail-container .detail-body .details-content .two-col .col-text {
              padding-left: 0; } }
      .detail-container .detail-body .details-content h2 {
        margin-bottom: 30px;
        color: black; }
      .detail-container .detail-body .details-content p {
        font-size: 16px;
        padding: 0;
        margin: 10px auto;
        margin-bottom: 30px;
        line-height: 1.5;
        text-align: center; }
  .detail-container.visible {
    pointer-events: auto;
    opacity: 1;
    filter: alpha(opacity=100); }
    .detail-container.visible .detail-bg {
      opacity: 1;
      filter: alpha(opacity=100); }
    .detail-container.visible .detail-body {
      -webkit-transform: translateY(0%);
      transform: translateY(0%); }

.screenshots {
  padding: 50px;
  width: 100%; }
  @media only screen and (max-width: 950px) {
    .screenshots {
      padding: 10px; } }
  .screenshots > img {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    border: 20px solid rgba(0, 0, 0, 0.02);
    width: 90%;
    margin-bottom: 100px; }
    @media only screen and (max-width: 950px) {
      .screenshots > img {
        width: 100%;
        margin-bottom: 50px; } }
    .screenshots > img.mobile {
      width: 40%; }
      @media only screen and (max-width: 950px) {
        .screenshots > img.mobile {
          width: 80%; } }
    .screenshots > img:hover {
      border: 20px solid rgba(0, 0, 0, 0.1); }

.label {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  text-align: left;
  margin: 10px 0; }
  .label .dot {
    margin: 0 10px 0 15px; }

.dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 5px; }
  .dot.design {
    background: #2DA4CB; }
  .dot.dev {
    background: #A452F2; }
  .dot.org {
    background: #F25E8A; }
  .dot.default {
    background: rgba(0, 0, 0, 0.2); }
  .dot .tooltip-tri {
    position: absolute;
    bottom: -14px;
    right: 3px;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
    border-left: 15px solid transparent; }
  .dot .tooltip {
    font-size: 10px;
    z-index: 1;
    position: absolute;
    bottom: -34px;
    right: 3px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    letter-spacing: 1px;
    text-transform: none; }
  .dot .tooltip, .dot .tooltip-tri {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .dot:hover .tooltip, .dot:hover .tooltip-tri {
    opacity: 1;
    filter: alpha(opacity=100); }

.divide {
  margin: 50px 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1); }

.moodboard {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .moodboard .col {
    flex: 0 0 33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .moodboard img {
    width: 100%; }

ul li {
  text-align: left;
  line-height: 1.5; }

.brand img.logo {
  width: 300px; }

.brand img.guidelines {
  width: 100%; }
