@font-face {
  font-family: 'Circe-100';
  src: url("../fonts/Circe/Circe_100.otf") format("truetype"); }

@font-face {
  font-family: 'Circe-200';
  src: url("../fonts/Circe/Circe_200.otf") format("truetype"); }

@font-face {
  font-family: 'Circe-300';
  src: url("../fonts/Circe/Circe_300.otf") format("truetype"); }

@font-face {
  font-family: 'Circe-400';
  src: url("../fonts/Circe/Circe_400.otf") format("truetype"); }

@font-face {
  font-family: 'Circe-500';
  src: url("../fonts/Circe/Circe_500.otf") format("truetype"); }

@font-face {
  font-family: 'Playfair-300-Italic';
  src: url("../fonts/Playfair-Display/PlayfairDisplay-RegularItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Playfair-300';
  src: url("../fonts/Playfair-Display/PlayfairDisplay-Regular.ttf") format("truetype"); }

html {
  scroll-behavior: smooth; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Circe-300', Helvetica;
  color: black;
  background: #1C212C; }
  html *, body * {
    box-sizing: border-box; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'Playfair-300-Italic';
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 701px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-family: 'Circe-400';
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px; }

h3 {
  font-family: 'Circe-300';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px; }
  @media only screen and (max-width: 701px) {
    h3 {
      font-size: 14px; } }

h4 {
  font-family: 'Circe-300';
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0;
  margin-top: 10px; }

h5 {
  font-family: 'Circe-400';
  font-size: 18px;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; }

h6 {
  font-family: 'Playfair-300-Italic';
  line-height: 28px;
  font-size: 16px;
  margin: 0; }

span {
  font-family: 'Circe-300';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  opacity: 0.7; }

p {
  font-family: 'Circe-200';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px; }
  p b {
    font-family: 'Circe-400'; }

ul {
  list-style-type: circle;
  padding-inline-start: 70px; }
  @media only screen and (max-width: 701px) {
    ul {
      padding-inline-start: 50px; } }
  ul li {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Circe-200';
    padding-left: 10px;
    padding-bottom: 12px; }
    ul li b {
      font-family: 'Circe-400'; }

a {
  color: white; }

a, input {
  font-family: 'Circe-400';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s all ease; }
  a.back, input.back {
    color: white; }
    a.back img, input.back img {
      width: 25px;
      margin-right: 10px;
      transition: 0.4s all ease; }
    a.back:hover img, input.back:hover img {
      margin-right: 15px; }

.button {
  display: inline-flex;
  align-items: center;
  color: white;
  cursor: pointer;
  height: 50px;
  white-space: nowrap;
  margin: 0;
  padding: 0 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(66, 72, 84, 0.6); }
  .button img {
    margin-left: 0px;
    opacity: 0;
    transition: 0.5s all ease;
    width: 0px;
    height: 10px; }
  @media only screen and (min-width: 701px) {
    .button:hover {
      border: 1px solid white;
      background: #424854; }
      .button:hover img {
        margin-left: 20px;
        opacity: 1;
        width: 25px; } }

.container {
  width: 1200px;
  margin: 0 auto; }
  @media only screen and (max-width: 1250px) {
    .container {
      width: 900px; } }
  @media only screen and (max-width: 950px) {
    .container {
      width: 700px; } }
  @media only screen and (max-width: 701px) {
    .container {
      width: 90%; } }

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0 0 50px 0; }
  header .header-bg {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 60px;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background: #212631;
    background: linear-gradient(45deg, #212631 0%, #323741 100%); }
  header .header-left {
    height: 100%;
    background: url("../img/2019/shan.svg") left -100px top -70px no-repeat;
    background-size: auto 130%;
    display: flex;
    align-items: center;
    padding: 40px 0; }
    header .header-left .header-left--text {
      margin-left: 60px; }
      header .header-left .header-left--text p {
        margin-top: 20px; }
  header .header-right {
    height: 100%;
    background: url("../img/2019/brush.svg") right center no-repeat;
    background-size: auto 100px;
    padding-right: 60px;
    display: flex;
    align-items: center; }
    header .header-right .header-right--text {
      margin-right: 35px;
      text-align: right;
      width: 215px; }
      header .header-right .header-right--text a.button {
        margin-bottom: 20px; }
  @media only screen and (max-width: 701px) {
    header {
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      margin: 20px 0 120px 0; }
      header .header-bg {
        right: 0;
        bottom: 30px; }
      header .header-left {
        width: 100%;
        background-position: -110px -80px;
        background-size: auto 110%; }
        header .header-left .header-left--text {
          text-align: center;
          margin: 0 40px;
          padding-top: 10px;
          width: 100%; }
      header .header-right {
        width: 100%;
        height: auto;
        background-position: bottom center;
        padding-right: 0; }
        header .header-right .header-right--text {
          text-align: center;
          margin: 0 auto;
          padding-bottom: 30px; } }

nav {
  height: 150px;
  z-index: 100;
  transition: 0.5s all ease; }
  nav a {
    transition: 0.5s all ease;
    opacity: 0.7; }
    nav a:hover {
      opacity: 1; }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    nav .container a.logo {
      height: 40px;
      width: 40px;
      background: url("../img/2019/shan_white.svg") center center no-repeat;
      background-size: contain; }
    nav .container .nav-right a {
      display: inline-block;
      margin-left: 25px; }
  @media only screen and (max-width: 701px) {
    nav {
      height: 80px; }
      nav .container a.logo {
        height: 35px;
        width: 35px; } }

section.description {
  margin-bottom: 30px;
  color: white; }

section.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px; }

a.work-item {
  cursor: pointer;
  display: block;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-transform: none;
  background: #232935;
  width: 48%;
  padding: 15px; }
  @media only screen and (max-width: 700px) {
    a.work-item {
      margin: 2% 0;
      width: 100%; } }
  a.work-item > img {
    width: 100%; }
  a.work-item.featured {
    width: 100%; }
    @media only screen and (min-width: 701px) {
      a.work-item.featured {
        display: flex;
        flex-direction: row;
        align-items: flex-start; }
        a.work-item.featured > img {
          width: 60%; }
        a.work-item.featured .work-description {
          width: 40%;
          padding: 0 15px; } }
    @media only screen and (min-width: 950px) {
      a.work-item.featured .work-description {
        padding: 0 15px; } }
    @media only screen and (min-width: 1250px) {
      a.work-item.featured .work-description {
        padding: 0 30px; } }
    a.work-item.featured p {
      margin-top: 40px; }
    @media only screen and (max-width: 950px) {
      a.work-item.featured .action {
        display: none; } }
    @media only screen and (max-width: 700px) {
      a.work-item.featured .work-description {
        display: flex; }
        a.work-item.featured .work-description .action {
          display: none;
          width: 300px; }
          a.work-item.featured .work-description .action .button {
            margin-top: 10px;
            height: 40px;
            padding: 20px; }
        a.work-item.featured .work-description p {
          margin-bottom: 0;
          margin-top: 20px; } }

section.footer {
  height: 100px;
  margin-top: 100px;
  width: 100%; }

.container-full {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }
  .container-full.container-vcenter {
    align-items: center;
    flex-direction: column; }

form {
  background: url("../img/2019/bg-center.png") center center no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
  border-radius: 8px;
  text-align: center;
  opacity: 1;
  transition: all ease 0.4s;
  transition-delay: 0.2s;
  transform: translateY(0);
  box-shadow: 0 0 0 10px rgba(230, 99, 99, 0.1);
  position: relative; }
  form a.back {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px; }
  form h3 {
    margin-bottom: 50px;
    color: white; }
  form .input-group {
    position: relative;
    display: inline-block; }
    form .input-group label {
      font-size: 18px;
      position: absolute;
      left: 20px;
      top: 28px;
      color: rgba(0, 0, 0, 0.4);
      transition: all ease 0.3s;
      pointer-events: none; }
    form .input-group.input-focus label {
      font-size: 14px;
      top: 11px; }
  form input {
    font-size: 16px;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
    padding: 35px 15px 15px 20px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1; }
    form input:focus {
      outline: 0; }
    form input[type="password"] {
      font-family: 'Circe-300';
      background: rgba(255, 255, 255, 0.8);
      border-radius: 3px;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 4px;
      width: 500px;
      background: url("../img/2019/lock.svg") right 20px center no-repeat rgba(255, 255, 255, 0.8);
      background-size: 25px 25px;
      padding-right: 60px;
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.04);
      border: 2px solid transparent; }
    form input[type="submit"] {
      font-family: 'Circe-400'; }
  @media only screen and (max-width: 800px) {
    form {
      padding: 70px 50px;
      width: 70%; }
      form a.back {
        top: 15px;
        left: 15px; }
      form h3 {
        margin-bottom: 30px; }
      form .transition-fade, form .form-content, form .input-group {
        width: 100%; }
      form .input-group label {
        font-size: 16px;
        left: 15px;
        top: 20px; }
      form .input-group.input-focus label {
        font-size: 13px;
        top: 7px; }
      form input {
        padding: 25px 10px 10px 15px;
        margin-bottom: 30px; }
        form input[type="password"] {
          width: 100%;
          background-size: 20px 20px;
          padding-right: 50px;
          font-size: 16px;
          line-height: 16px; } }
  @media only screen and (max-width: 500px) {
    form {
      padding: 70px 50px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      form h3 {
        margin-bottom: 40px; }
      form input {
        margin-bottom: 50px; } }

::placeholder {
  opacity: 0;
  font-size: 16px;
  letter-spacing: 0; }

@keyframes shake {
  0% {
    transform: rotate(0.5deg); }
  50% {
    transform: rotate(-0.5deg); }
  100% {
    transform: rotate(0.5deg); } }

.transition-shake {
  animation: shake 75ms 5;
  animation-timing-function: linear; }
  .transition-shake input[type="password"] {
    box-shadow: 0 0 0 5px #e66363; }

.container-background {
  transition: all ease 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; }
  .container-background .panel {
    flex: 1;
    align-self: flex-start; }
    .container-background .panel:nth-child(1) {
      transition-delay: 0s; }
    .container-background .panel:nth-child(2) {
      transition-delay: 0.2s; }
    .container-background .panel:nth-child(3) {
      transition-delay: 0.4s; }
  .container-background .panel.transition-pane-slide-in:nth-child(1) {
    background: url("../img/2019/panel-1.png") center center no-repeat #232935;
    background-size: 100% auto; }
  .container-background .panel.transition-pane-slide-in:nth-child(2) {
    background: url("../img/2019/panel-2.png") center center no-repeat #232935;
    background-size: 100% auto; }
  .container-background .panel.transition-pane-slide-in:nth-child(3) {
    background: url("../img/2019/panel-3.png") center center no-repeat #232935;
    background-size: 100% auto; }
  @media only screen and (min-width: 1250px) {
    .container-background .panel.transition-pane-slide-in:nth-child(1) {
      background-size: 400px auto;
      background-position: center right; }
    .container-background .panel.transition-pane-slide-in:nth-child(2) {
      max-width: 400px; }
    .container-background .panel.transition-pane-slide-in:nth-child(3) {
      background-size: 400px auto;
      background-position: center left; } }
  @media only screen and (max-width: 700px) {
    .container-background .panel {
      opacity: 0; }
      .container-background .panel:nth-child(1) {
        transition-delay: 0s; }
      .container-background .panel:nth-child(2) {
        transition-delay: 0s; }
      .container-background .panel:nth-child(3) {
        transition-delay: 0s; } }
  @media only screen and (max-width: 400px) {
    .container-background .panel.transition-pane-slide-in:nth-child(1) {
      background: #232935; }
    .container-background .panel.transition-pane-slide-in:nth-child(2) {
      background: #232935; }
    .container-background .panel.transition-pane-slide-in:nth-child(3) {
      background: #232935; } }

.about-me {
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .about-me a.button {
    margin-top: 20px; }
  .about-me .about-head {
    background: url("../img/2019/photo.png") top 0px center no-repeat;
    background-size: auto 100%;
    display: flex;
    width: 100%;
    height: 300px; }
    @media only screen and (max-width: 700px) {
      .about-me .about-head {
        height: 200px; } }
  .about-me .about-body {
    margin: 20px auto;
    width: 90%;
    max-width: 600px; }
    .about-me .about-body > h3:first-child {
      margin-bottom: 50px; }
      @media only screen and (max-width: 700px) {
        .about-me .about-body > h3:first-child {
          margin-bottom: 20px; } }
    .about-me .about-body p {
      text-align: left; }
      @media only screen and (max-width: 700px) {
        .about-me .about-body p {
          text-align: center; } }
  .about-me .about-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    width: 90%;
    max-width: 500px; }
    @media only screen and (max-width: 700px) {
      .about-me .about-elements {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 700px) {
      .about-me .about-elements .element {
        width: 50%; }
        .about-me .about-elements .element:nth-child(1), .about-me .about-elements .element:nth-child(2) {
          margin-bottom: 20px; } }
    .about-me .about-elements .element img {
      width: 60px;
      margin: 0 auto; }

.container-content {
  width: 100%;
  height: 100%; }
  .container-content nav {
    height: 80px; }

.work-header-content {
  height: 400px;
  background: url("../img/2019/brush2.svg") center center no-repeat;
  background-size: auto 400px;
  color: white;
  text-align: center;
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: center; }

.work-body {
  width: 100%;
  background: white;
  padding: 50px 0;
  min-height: 500px;
  margin-top: 100px; }
  @media only screen and (max-width: 701px) {
    .work-body {
      margin-top: -10px; } }
  .work-body .work-preview {
    width: 100%; }
    .work-body .work-preview img {
      width: 100%; }
  .work-body .work-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; }
    @media only screen and (max-width: 701px) {
      .work-body .work-logos {
        margin-bottom: 40px; } }
    .work-body .work-logos img {
      height: 40px;
      margin: 0 30px;
      opacity: 0.6; }
      @media only screen and (max-width: 701px) {
        .work-body .work-logos img {
          height: 30px; } }
  .work-body .container {
    margin-top: -300px;
    max-width: 800px; }
    @media only screen and (max-width: 701px) {
      .work-body .container {
        margin-top: -200px; } }
  .work-body .body-section {
    width: 100%;
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 701px) {
      .work-body .body-section {
        flex-direction: column; } }
    .work-body .body-section.full {
      display: block;
      text-align: center; }
    .work-body .body-section a.plain {
      color: #E66363;
      text-transform: none;
      font-size: 18px; }
    .work-body .body-section a:not(.plain) {
      color: black;
      display: block;
      margin: 0 auto; }
    .work-body .body-section a.button {
      color: black;
      display: inline-flex;
      margin: 0;
      margin-top: 20px;
      background: white;
      border: 2px solid rgba(0, 0, 0, 0.1);
      transition: 0.3s all ease; }
      .work-body .body-section a.button:hover {
        border: 2px solid #4F5D7A; }
    .work-body .body-section a img {
      margin-left: 10px;
      transition: 0.5s all ease; }
    .work-body .body-section a:hover img {
      margin-left: 20px; }
    .work-body .body-section h2 {
      text-transform: none;
      margin-bottom: 0; }
    .work-body .body-section .summary-item {
      flex: 1;
      padding: 20px; }
      .work-body .body-section .summary-item h2 {
        text-align: center;
        margin-bottom: 30px; }
      .work-body .body-section .summary-item ul {
        width: 300px;
        margin: 0 auto; }
        .work-body .body-section .summary-item ul li {
          font-size: 16px;
          line-height: 20px; }
    .work-body .body-section .body-section-title {
      min-width: 200px;
      flex-grow: 1; }
      @media only screen and (max-width: 701px) {
        .work-body .body-section .body-section-title {
          padding-bottom: 20px; } }
    .work-body .body-section .body-section-content {
      flex-grow: 3; }
      .work-body .body-section .body-section-content p {
        font-size: 18px;
        line-height: 28px; }
      .work-body .body-section .body-section-content video {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
      .work-body .body-section .body-section-content .img-container, .work-body .body-section .body-section-content video {
        width: 100%;
        margin: 40px auto;
        outline: none; }
        .work-body .body-section .body-section-content .img-container.small, .work-body .body-section .body-section-content video.small {
          width: 50%; }
          @media only screen and (max-width: 701px) {
            .work-body .body-section .body-section-content .img-container.small, .work-body .body-section .body-section-content video.small {
              width: 100%; } }
        .work-body .body-section .body-section-content .img-container.medium, .work-body .body-section .body-section-content video.medium {
          width: 75%; }
          @media only screen and (max-width: 701px) {
            .work-body .body-section .body-section-content .img-container.medium, .work-body .body-section .body-section-content video.medium {
              width: 100%; } }
        .work-body .body-section .body-section-content .img-container.outline img, .work-body .body-section .body-section-content video.outline img {
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
        .work-body .body-section .body-section-content .img-container img, .work-body .body-section .body-section-content video img {
          width: 100%; }
        .work-body .body-section .body-section-content .img-container .multiple, .work-body .body-section .body-section-content video .multiple {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start; }
          .work-body .body-section .body-section-content .img-container .multiple.desktop-mobile img:nth-child(1), .work-body .body-section .body-section-content video .multiple.desktop-mobile img:nth-child(1) {
            width: 80%; }
          .work-body .body-section .body-section-content .img-container .multiple.desktop-mobile img:nth-child(2), .work-body .body-section .body-section-content video .multiple.desktop-mobile img:nth-child(2) {
            width: 17%; }
          .work-body .body-section .body-section-content .img-container .multiple.desktop img, .work-body .body-section .body-section-content video .multiple.desktop img {
            width: 48%; }
          @media only screen and (max-width: 701px) {
            .work-body .body-section .body-section-content .img-container .multiple.desktop, .work-body .body-section .body-section-content video .multiple.desktop {
              flex-wrap: wrap; }
              .work-body .body-section .body-section-content .img-container .multiple.desktop img, .work-body .body-section .body-section-content video .multiple.desktop img {
                width: 100%; }
                .work-body .body-section .body-section-content .img-container .multiple.desktop img:first-child, .work-body .body-section .body-section-content video .multiple.desktop img:first-child {
                  margin-bottom: 10px; } }
          .work-body .body-section .body-section-content .img-container .multiple.mobile img, .work-body .body-section .body-section-content video .multiple.mobile img {
            width: 22%; }
          @media only screen and (max-width: 701px) {
            .work-body .body-section .body-section-content .img-container .multiple.mobile, .work-body .body-section .body-section-content video .multiple.mobile {
              flex-wrap: wrap; }
              .work-body .body-section .body-section-content .img-container .multiple.mobile img, .work-body .body-section .body-section-content video .multiple.mobile img {
                width: 46%; }
                .work-body .body-section .body-section-content .img-container .multiple.mobile img:first-child, .work-body .body-section .body-section-content .img-container .multiple.mobile img:nth-child(2), .work-body .body-section .body-section-content video .multiple.mobile img:first-child, .work-body .body-section .body-section-content video .multiple.mobile img:nth-child(2) {
                  margin-bottom: 20px; } }
          .work-body .body-section .body-section-content .img-container .multiple.mobile-3 img, .work-body .body-section .body-section-content video .multiple.mobile-3 img {
            width: 30%; }
          @media only screen and (max-width: 701px) {
            .work-body .body-section .body-section-content .img-container .multiple.mobile-3, .work-body .body-section .body-section-content video .multiple.mobile-3 {
              flex-wrap: wrap; }
              .work-body .body-section .body-section-content .img-container .multiple.mobile-3 img, .work-body .body-section .body-section-content video .multiple.mobile-3 img {
                width: 46%; }
                .work-body .body-section .body-section-content .img-container .multiple.mobile-3 img:first-child, .work-body .body-section .body-section-content .img-container .multiple.mobile-3 img:nth-child(2), .work-body .body-section .body-section-content video .multiple.mobile-3 img:first-child, .work-body .body-section .body-section-content video .multiple.mobile-3 img:nth-child(2) {
                  margin-bottom: 20px; } }
        .work-body .body-section .body-section-content .img-container .caption, .work-body .body-section .body-section-content video .caption {
          font-family: 'Circe-200';
          font-style: italic;
          text-align: center;
          opacity: 0.7; }
          .work-body .body-section .body-section-content .img-container .caption:first-child, .work-body .body-section .body-section-content video .caption:first-child {
            margin-bottom: 20px; }
          .work-body .body-section .body-section-content .img-container .caption:nth-child(2), .work-body .body-section .body-section-content video .caption:nth-child(2) {
            margin-top: 20px; }
          .work-body .body-section .body-section-content .img-container .caption b, .work-body .body-section .body-section-content video .caption b {
            font-family: 'Circe-400'; }
  .work-body .divider {
    width: 100%;
    height: 1px;
    background: #424854;
    opacity: 0.1;
    margin: 50px 0; }
    @media only screen and (max-width: 701px) {
      .work-body .divider {
        margin: 30px 0; } }

.transition-pane-slide-out {
  height: 0;
  background: #1C212C;
  transition: all ease 0.3s; }

html.is-leaving .transition-pane-slide-out {
  height: 100%; }

.transition-pane-slide-in {
  height: 100%;
  background: #232935;
  transition: all ease 0.6s; }

html.is-animating .transition-pane-slide-in {
  height: 0; }

.transition-container-slide-out {
  z-index: -1;
  transition: all ease 0.3s; }

html.is-animating .transition-container-slide-out {
  z-index: 1;
  pointer-events: none; }

html.is-animating form {
  opacity: 0;
  transform: translateY(-20px); }

.transition-fade {
  opacity: 1;
  transform: translateY(0px);
  transition: all ease 0.8s; }

html.is-animating .transition-fade {
  opacity: 0;
  transition-delay: 0.4s;
  transform: translateY(-20px); }

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(0px);
  transition: all ease 0.3s; }

.transition-fade-slow {
  opacity: 1;
  transform: translateY(0px);
  transition: all ease 0.8s; }

html.is-animating .transition-fade-slow {
  opacity: 0;
  transition-delay: 0.6s;
  transform: translateY(-20px); }

html.is-leaving .transition-fade-slow {
  opacity: 0;
  transform: translateY(0px);
  transition: all ease 0.3s; }

.transition-slide-up {
  opacity: 1;
  transform: translateY(0px);
  transition: all ease 0.8s; }

html.is-animating .transition-slide-up {
  opacity: 0;
  transition-delay: 0.4s;
  transform: translateY(50px); }

html.is-leaving .transition-slide-up {
  opacity: 0;
  transform: translateY(0px);
  transition: all ease 0.3s; }
