extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Comet Design System

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/comet-design-system/mocks/mockup.png')

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p Battlefy is an online marketplace that allows players to find and create esports tournaments. With the team's priorities over the past two years focused on revenue and B2B engagements, Battlefy is now a platform that is trusted globally by some of the largest game studios and publishers for competitive gaming at scale. However, its revenue-driven projects have shifted the team away from its users, and over time, this has taken its toll on the platform in the form of crippling product debt on both the design and engineering fronts.

            p During my time at Battlefy, I spearheaded the team's first real attempt at creating and maintaining a coherent design system, pitching the project to stakeholders.  I led a team of 2 other product designers and 5 software engineers, and planned Comet's first few months of execution.


        .divider

        .body-section
          .body-section-title
            h2 Business problems

          .body-section-content

            h5 Product debt

            p The majority of Battlefy's core platform features were developed over 5 years ago in an older version of Angular. This was done at a time when the company was focused on immediate revenue and hyper-growth, and the team was scrappy and small, without dedicated design resources.

            p As the team grew, B2B engagements dominated Battlefy's revenue stream, involving more features to build onto the core platform, as well as marketing landing pages that were white-labeled to the client. It became increasingly difficult to tack features onto the platform without completely re-writing the backend, and there was a growing movement within the engineering team to migrate to React.

            p Today, the platform is a patchwork of Angular and React components, and the task of re-architecting Battlefy feels monumental.


            h5 Limited time and resources

            p Development and design resources were spread incredibly thin across the multitude of client projects the team took on throughout the year.

            p Due to the tight deadlines that came with tournament contracts, there was almost no design or technical documentation for existing components and features. Each time a new team took on a project, the same work was repeated over and over, with the solutions to the same problems implemented in dozens of different ways across the platform.

            h5 High user churn

            p Battlefy's priority over the past few years has been securing B2B revenue, pumping out a high volume of features and functionality to satisfy client requests. The core metrics that drove those deals were usually the amount of player impressions and tournament registrations, most of which were driven from marketing campaigns leveraging the client's existing player base.

            p The result was that Battlefy had very low player retention from those engagements. Once the one-off competition was over, the large majority of those players had no interest in participating in other tournaments on the platform.

            p In the long term, Battlefy's future hinged on its ability to create a self-sustaining revenue model, and plans were in the works for B2C monetization experiments to start. For our marketplace to sustain itself, we needed to maximize player retention from our B2B deals. With some of these engagements driving hundreds of thousands of players to our platform, a strong association of Battlefy as a trusted, easy-to-use platform would be a crucial factor impacting those player metrics.

        .divider
        .body-section
          .body-section-title
            h2 User problems

          .body-section-content

            h5 Poor user experience

            p Most of the platform's core features were hacked together quickly by developers many years ago, and were never prioritized for a second iteration. As a result, a player's journey through a complex tournament experience was often slow, unintuitive, and confusing, resulting in high rates of churn and leaving a negative impression of Battlefy's brand.

            p Almost every component on the platform needed a redesign, or a second iteration.

            h5 Inconsistent brand and UI

            p Battlefy's existing brand didn't have any clear guidelines, and felt unfocused without a clear user goal. The branding of featured engagements had always overshadowed Battlefy's own, leaving a weak and forgettable impression on its users.

            p As the team grew over time, the platform passed through multiple hands and owners, and it showed. The same UI elements looked completely different throughout the Battlefy platform, resulting in an unpolished experience that users were unable to rely on, and an incoherent brand.

            p We needed to bridge the lack of communication between teams and start documenting our work, or this problem would never be solved.

        .divider
        .body-section
          .body-section-title
            h2 My proposal

          .body-section-content

            p A
              b  design system
              |  was the perfect way for Battlefy to kickstart this platform overhaul, and address almost all of its business and user problems.

            p  Documenting everything with clear usage guidelines would empower the growing team to continue consistent implementation, saving an exponential amount of resourcing over time as we continued to chip away at product debt.


            h5 Defining the brand and vision to focus the team

            p The biggest reason product designers were so deviant in their finished designs was that there were no overarching design principles, brand guidelines, or product vision to guide their choices. I wanted to focus and align the team on Battlefy's brand goals, and ensure we were aligned on the principles guiding the team's decisions.

            p For the next year or so, that focus would be on the
              b  scalability
              |  and
              b  reusability
              |   of components, as well as an overall commitment to product quality. These pillars would eventually evolve to become Battlefy's product design principles.

            p We needed to refine and give purpose to Battlefy's brand strategy to better target and speak to its user base. Defining and documenting these goals at the start would be critical to how we made decisions in the future, when we eventually revisited every component and flow on the platform.


            h5 Improving UX incrementally to minimize user churn

            p Battlefy needed to retain its users, and in order to do that, it needed to drastically improve its user experience across the platform. Navigation and user flows felt complex and disjointed; they needed to be simple and easy to use and understand.

            p It was also critical we committed to more stringent QA and testing processes. Having a minimally polished product became one of our team's philosophies, so we weren't overcommitting to features that we couldn't reliably deliver.

            p These changes would take time, and had be made incrementally, one user flow at a time. This was in part due to challenges with the nature of our technical debt, and also partly due to the fact that Battlefy still needed to stick to its existing B2B-driven roadmap in order to sustain its revenue model. The strategy would be to future-proof as much as we could in the design and planning stages, to best set Battlefy up for the future with its long-term B2C vision.

            p This would create a period of time when Battlefy had vastly conflicting visual language. While it was important for us to keep that in mind to mitigate these differences in whatever ways we could, it was also important for us to start making the right decisions for our users. Because of how large our user churn was at the time, it felt like a small risk to take, and was far outweighed by the benefits the changes would bring.

            p That being said, my strategy was still to start small, with features that had less traffic and visibility. As the design system grew to completion, it would make adoption much quicker and easier for the high-impact core user flows, and we could thus minimize this period of conflicting visual messaging as much as possible.

            h5 Documenting components to save time and improve consistency

            p Having proper, centralized documentation for existing design solutions and guidelines on how to implement them would be critical for scaling design and development work, reducing the number of implementation decisions that both designers and developers have to make on a daily basis. Both teams would have a central source of truth to reference, a repository of well-documented components with clear guidelines on when and why to use them.

            p Designers would no longer spend time re-designing solutions to problems that had been solved before, and developers would only ever have to implement the same components once. Saving this kind of time across the product team meant resources that could be put towards new problems and experiments.


        .divider
        .body-section
          .body-section-title
            h2 Measuring success

          .body-section-content

            p I created some OKR's to help the team track the system's progress over time, as well as give the team tangible goals to work to achieve. Key results would be set quarter to quarter to move the needle on this project.

            p
              b Objective:
              |  The system is easy to use for designers and developers.
            p We would send a quarterly feedback survey to designers and developers to track the system's ease of use, and identify pain points.

            p
              b Objective:
              |  Time is saved on repeat solutions across the product team.
            p We would track both the cost of designing and developing each component, and also the number of times it was re-used across the platform. I knew that there would be some amount of up-front cost to maintaining a design system (this included creating and maintaining a Sketch design symbol library, writing up component guidelines, and extensive visual QA testing on components), and I wanted us to track it, in order to prove that in the long run, we'd still end up saving more time.

            p
              b Objective:
              |  Implementation and adoption across the platform is complete.
            p We would track the completeness of the design system and its coverage across the Battlefy platform. I also wanted to track our global player metrics in relation to this, as my hypothesis was that those would also be positively impacted.

            p
              b Objective:
              |  The amount of time spent on UI and UX-related bugs will decrease.
            p We would track both the number of open bugs and tickets, as well as the amount of dev hours spent on them.


        .divider



        .body-section
          .body-section-title
            h2 UI Audit

          .body-section-content
            p We started with an audit of Battlefy's existing UI. We hunted down almost every variation of every element, documented them, and came together as a team to figure out how we wanted to organize and improve them.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/audit-checkboxes.png')
              .caption A sample of checkboxes collected across Battlefy.

            h5 Organizing components

            p
              | I drew a lot of inspiration from Shopify's
              a.plain(href="https://polaris.shopify.com/components/get-started" target="_blank")  Polaris
              | ; in particular, I loved how they categorized components based on their
              b  functionality
              | , instead of just by the inherent component type. To me, this put the focus on problem-solving first, and set a good precedent for how developers would interact with the system. The same UI solution could be applicable to many different problems, and we agreed as a team it would make the system easier to navigate in the long run.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/categories.png')
              .caption Organizing our system

            h5 Grid and layout

            p Knowing that Battlefy needed to be highly modularized and customizable based on different client requirements, we liked the idea of a card-based system. We created a responsive grid across which different card elements could be rearranged and prioritized according to each page's needs.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/grid.png')
              .caption Grid system.

        .divider

        .body-section
          .body-section-title
            h2 Brand Research

          .body-section-content
            p As part of our work undertaking a new design system, I wanted to do a light round of brand research to re-focus Battlefy's emotional user goals.

            p Battlefy's current brand was 5 years outdated, and the decisions made were based off of what resonated with the founding team at the time. Overall, the colours felt dull, bland, and a little generic.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/current-brand-colors.png')
              .caption Battlefy's current brand colours.



            p I wanted to infuse and update some of the brand elements to better target player emotions throughout the tournament experience. In the heat of competition, emotions are highly polarized from soaring triumphs to devastating defeat. I wanted our brand to both celebrate those wins, and mitigate crushing losses.

            p I sent a survey out to both our player base and our internal team, to get a feel for how Battlefy's brand was currently perceived.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/emotion-maps.png')
              .caption A map of most commonly experienced emotions by players.

            p
              | The emotions that stood out to me were ones that were more unique to the online tournament experience:
              b  pride, passion, excitement, hope
              | . I wanted to inspire these feelings with our colours, copy, and illustrations.

            p The way I wanted players to view our brand was similar to how they would view a coach. We wanted to reflect the bold ambition of our players, and empower them on their competitive journeys. Our voice would have more focus on being supportive and empathetic, while also being confident, trustworthy and honest.

            p Knowing that updates to the platform would be made incrementally, I didn't want the new brand to be too radical a departure from what currently existed. In the end, our moodboard took elements from everyone's individual ideas.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/moodboard.png')
              .caption Our moodboard.

            p We loved imagery of outer space, symbolizing grand hopes and dreams. Motion and action evoked excitement, and that upwards mobility all players were striving for with continuous improvement.

            .img-container.medium
              img(src='../img/2019/works/comet-design-system/process/dls-colours.png')
              .caption Our new colour palette.

            p We stuck with Battlefy's dark theme, liking how it immersed the player into their flow, but saturated it with some richer blue tones. We also introduced gradients to bring some motion into the platform, and widened the palette. Red was the tried and true Battlefy colour, and we felt it still embodied the passion and excitement we wanted to convey. We introduced purple to soften the palette a little, and tie in elements of prestige and pride.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/typography.png')

            p We refreshed our body font from Roboto, which felt over-used and generic, to something that was still highly legible, but felt a bit more playful and fun. We also picked out a display font for major headers and marketing content.

        .divider

        .body-section
          .body-section-title
            h2 Our process

          .body-section-content
            p There were never dedicated resources to work on Comet. The team formed organically, starting with myself and the design team, and slowly grew as more developers saw the importance of the project. All contributions were made as projects came in, still prioritized for revenue. The difference was that now the team was aligned and had a bigger vision to work towards.

            p We ended up evolving our workflow to having a single weekly meeting, where the team would come together to discuss the components they had worked on or changed over the past week.

            p Designers worked in Sketch, and I created a naming convention within our Sketch symbol library to make components easy to find and insert into our day-to-day designs, along with customized overrides to make the content easy to modify. I tried to find that balance between providing useful constraints without being overly prescriptive &mdash; as a general rule, if designers were detaching the component from the symbol to edit it, chances were they were making a whole new component.

            .img-container
              img(src='../img/2019/works/comet-design-system/process/card-components.png')
              .caption Card symbols naming convention.

            .img-container.medium
              img(src='../img/2019/works/comet-design-system/process/card-component-2.png')
              .caption Symbol editing

            p On the developers' side, React Storybook was the tool of choice, because the team had experience working with it and it would be easy to hit the ground running. We synced up on component specifications and guidelines through Zeplin.

            p I used a component-level tracker as well as a user-flow based tracker to measure our progress.

            .img-container
              .multiple.desktop
                img(src='../img/2019/works/comet-design-system/process/component-tracker.png')
                img(src='../img/2019/works/comet-design-system/process/flow-tracker.png')
              .caption Completeness trackers for the DLS.

        .divider

        .body-section
          .body-section-title
            h2 Designs

          .body-section-content

            p Here's a look at some of the designs for experiences using the design system.

            .img-container
              img(src='../img/2019/works/comet-design-system/mocks/tournament-page.png')
              .caption Tournament page.

            .img-container
              img(src='../img/2019/works/comet-design-system/mocks/match-dashboard.png')
              .caption Match dashboard

            .img-container
              img(src='../img/2019/works/comet-design-system/mocks/game-hub.png')
              .caption Game hub.

            .img-container
              img(src='../img/2019/works/comet-design-system/mocks/clol-invite.png')
              .caption College LoL invite.

            .img-container
              img(src='../img/2019/works/comet-design-system/mocks/clol-admin-tool.png')
              .caption League administrator page.

        .divider

        .body-section
          .body-section-title
            h2 Launching Comet

          .body-section-content
            p The team had put in countless hours over the quarter, and the design system had become our pride and joy &mdash; it felt right for us to put a name to the work we'd done.

            p We wanted a metaphor that resonated with the whole team; something that felt grand enough to symbolize our lofty vision, but grounded like the scrappy team that had created it.

            p For us, a comet signified a journey. They blaze a trail through time and space, and our hope was that as Comet gained momentum, it would help guide all of our internal teams and have a huge impact on our platform and processes.

            p To introduce Comet to all of Battlefy's crossfunctional teams, I gave a small presentation on what design systems were, and why it was important we had one. You can check out the slides below!


        .divider


        .body-section
          a(href='https://docs.google.com/presentation/d/1qWkv4jed1cvRfs2RTdpiBrFYu08zXl5Gu6j0hwVWXMg/edit?usp=sharing' target='_blank')
            h2
              | Check out my design systems talk
              img(src='../img/2019/arrow_right_black.svg')

        .divider

        .body-section
          .body-section-title
            h2 The future

          .body-section-content
            p A design system is constantly evolving, and Comet still has a long ways to go. It could take years for the business to find the time and resources to be able to truly revisit and rework the core Battlefy experience.

            p However, the work that we put into Comet is incrementally contributing to that eventual rework. As the system becomes more fleshed out and the component base is more complete, Battlefy's eventual redesign won't be the monumental task that it is today.


        .divider


        .body-section.full

          h2 Thanks for reading!
          br
          a.button(href='/')
            | Back to works
            img(src='../img/2019/arrow_right_black.svg')

        .divider

