extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Flatbook

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/flatbook/mocks/mockup.png')

        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li Branding
              li UX Design
              li UI Design
              li Front-end Development

          .summary-item
            h2 Tools
            ul
              li Sketch
              li Ruby on Rails
              li Haml/Sass/Jquery

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content

            p
              | Flatbook (now
              a.plain(href='https://sonder.com' target='_blank')  Sonder
              | ) is a company that offers a redefined hotel experience through innovative interior design and exceptional modern service. In 2015, they underwent the first of many rebrands.
            p With our incredibly talented creative team at the time, comprised of an art director and graphic designer, we created a new brand identity and story for Flatbook. We also redesigned the entire booking and check-in experiences for our guests, and I worked with a back-end developer to bring all those designs to life.


        .divider

        .body-section
          .body-section-title
            h2 Branding
          .body-section-content



            p We knew the feelings that we wanted the brand to evoke: peace, serenity, and a sense of connectedness with the world around us. At the root of the travel experience is the creation of memories: unforgettable moments, whether of discovery and wonder at the world's cultures and customs, or the joy of getting to spend time with the people you love. We wanted an image powerful enough to convey these feelings without the need for a single word.

            p That's how we came to the sunset. No matter what anyone is doing, they'll stop to take a breath and enjoy the rising or setting of the sun. In that moment, all worries and stress are forgotten, and a memory is created. It's something that is difficult to capture in photo or film, reminding us of the importance of being present and in the moment.

            p Like our brand, a sunrise:

            ul
              li
                | is
                b  consistent
                | . You can always be sure to see one again the next day, the same way you can rely on our services and 24-hour support.
              li
                | is always
                b  unique
                | , depending on where you are, just as our spaces are designed for the city you're in.
              li
                | is a
                b  reminder
                |  that a new day is here or coming, as we push to innovate the hospitality industry.

            .img-container
              .caption Moodboard.
              img(src='../img/2019/works/flatbook/mocks/moodboard.png')

            .img-container.medium.outline
              .caption Brand guidelines.
              img(src='../img/2019/works/flatbook/mocks/brand-guidelines.jpg')


        .divider

        .body-section
          .body-section-title
            h2 Designs
          .body-section-content

            .img-container.medium
              .caption Landing Page.
              img(src='../img/2019/works/flatbook/mocks/web-0.jpg')

            .img-container.outline
              .caption Service details.
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/web-7.jpg')
                img(src='../img/2019/works/flatbook/mocks/web-8.jpg')

            .img-container.outline
              .caption Careers and About us.
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/web-9.jpg')
                img(src='../img/2019/works/flatbook/mocks/web-10.jpg')

            .img-container.medium
              .caption Booking experience.
              img(src='../img/2019/works/flatbook/mocks/web-0.jpg')

            .img-container.outline
              .caption Calendar and date selection.
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/web-2.jpg')
                img(src='../img/2019/works/flatbook/mocks/web-3.jpg')

            .img-container.outline
              .caption Rental listing.
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/web-4.jpg')
                img(src='../img/2019/works/flatbook/mocks/web-5.jpg')

            .img-container.outline
              .caption Error pages.
              .multiple.desktop

                img(src='../img/2019/works/flatbook/mocks/error-2.jpg')
                img(src='../img/2019/works/flatbook/mocks/error-3.jpg')


            .img-container.outline
              .caption Check in flow.
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/checkin-01.png')
                img(src='../img/2019/works/flatbook/mocks/checkin-02.png')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/checkin-03.png')
                img(src='../img/2019/works/flatbook/mocks/checkin-04.png')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/checkin-04a.png')
                img(src='../img/2019/works/flatbook/mocks/checkin-04b.png')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/flatbook/mocks/checkin-04c.png')
                img(src='../img/2019/works/flatbook/mocks/checkin-04d.png')


