extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Jenny Life Insurance

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/jenny-life/mocks/mockup.png')


        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li Branding
              li UX Design
              li UI Design

          .summary-item
            h2 Tools
            ul
              li Sketch
              li Principle

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p Jenny Life is a life insurance company specifically targeted to mothers.

            p I researched and created the brand identity, and worked with another UX designer to put together the mobile app flows.

        .divider


        .body-section
          a(href='../img/2019/works/jenny-life/brand/brand-guidelines.pdf' target='_blank')
            h2
              | Read the competitive analysis
              img(src='../img/2019/arrow_right_black.svg')



        .divider



        .body-section
          .body-section-title
            h2 Brand
          .body-section-content




            .img-container.medium
              .caption Logo iterations
              img(src='../img/2019/works/jenny-life/process/logos-01.png')

             .img-container.medium

              img(src='../img/2019/works/jenny-life/process/logos-02.png')

            .img-container.medium
              .caption Final Logo
              img(src='../img/2019/works/jenny-life/brand/logo_guidelines.png')


            .img-container
              img(src='../img/2019/works/jenny-life/process/brand-06.png')

        .divider


        .body-section
          a(href='../img/2019/works/jenny-life/brand/brand-guidelines.pdf' target='_blank')
            h2
              | Check out the full guidelines here
              img(src='../img/2019/arrow_right_black.svg')

        .divider



        .body-section
          .body-section-title
            h2 App designs
          .body-section-content

            h5 Registration

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-01.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-02.png')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-03.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-04.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-05.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-05a.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-05b.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-06.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-07.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-08.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-09.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-10.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-11.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-12.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-13.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-05b.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/register-06.jpg')
                img(src='../img/2019/works/jenny-life/mocks/register-07.jpg')

            h5 Registration

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/quote-01.jpg')
                img(src='../img/2019/works/jenny-life/mocks/quote-02.jpg')

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/quote-03.jpg')
                img(src='../img/2019/works/jenny-life/mocks/quote-04.jpg')

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/quote-05.jpg')
                img(src='../img/2019/works/jenny-life/mocks/quote-06a.jpg')

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/quote-06b.jpg')
                img(src='../img/2019/works/jenny-life/mocks/quote-7a.jpg')

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/quote-7b.jpg')
                img(src='../img/2019/works/jenny-life/mocks/quote-7c.jpg')

            h5 Dashboard

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/dashboard-01.jpg')
                img(src='../img/2019/works/jenny-life/mocks/dashboard-02.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/dashboard-03.jpg')

            h5 Navigation

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/navigation-01.jpg')
                img(src='../img/2019/works/jenny-life/mocks/navigation-02.jpg')

            h5 Policy Management

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/policy-01.png')
                img(src='../img/2019/works/jenny-life/mocks/policy-02.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/policy-03.jpg')
                img(src='../img/2019/works/jenny-life/mocks/policy-04.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/policy-05.jpg')

            h5 Billing Management

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/billing-01.jpg')
                img(src='../img/2019/works/jenny-life/mocks/billing-02.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/billing-03a.jpg')
                img(src='../img/2019/works/jenny-life/mocks/billing-03b.jpg')
            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/jenny-life/mocks/billing-04.jpg')

        .divider
        .body-section.full

          h2 Thanks for reading!
          br
          a.button(href='/')
            | Back to works
            img(src='../img/2019/arrow_right_black.svg')

        .divider
