extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Play Network

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/play-network/mocks/mockup.png')

        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li UI Design
              li Front-end Development

          .summary-item
            h2 Tools
            ul
              li Sketch
              li Wordpress
              li Roots (Sage)

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p Play Network is a platform that allows brands to leverage music to drive engagement. They were looking for a new visual identity, and some help putting together a customizable marketing website.

            p I partnered with Fresh Consulting, working with a small team comprised of a UX designer, and project manager, and one other developer. I helped with the visual design of several modules and developed about 90% of the site. We used Wordpress with Roots (Sage) in order to give the client a CMS to work with.

        .divider

        .body-section
          .body-section-title
            h2 Designs
          .body-section-content


            .img-container.outline
              .caption Landing page (desktop and mobile).
              .multiple.desktop-mobile
                img(src='../img/2019/works/play-network/mocks/d-01.jpg')
                img(src='../img/2019/works/play-network/mocks/m-05.jpg')

            .img-container.outline
              .caption Contact and Partners pages.
              .multiple.desktop
                img(src='../img/2019/works/play-network/mocks/d-04.jpg')
                img(src='../img/2019/works/play-network/mocks/d-05.jpg')

            .img-container.outline
              .caption Resources and About us pages.
              .multiple.desktop
                img(src='../img/2019/works/play-network/mocks/d-06.jpg')
                img(src='../img/2019/works/play-network/mocks/d-07.jpg')


            .img-container.outline
              .caption Desktop navigation.
              img(src='../img/2019/works/play-network/mocks/menu.jpg')

            .img-container.outline
              .caption Mobile navigation.
              .multiple.mobile-3
                img(src='../img/2019/works/play-network/mocks/m-01.jpg')
                img(src='../img/2019/works/play-network/mocks/m-02.jpg')
                img(src='../img/2019/works/play-network/mocks/m-03.jpg')


        .divider

        .body-section
          .body-section-title
            h2 Style guide and components
          .body-section-content


            .img-container.outline
              img(src='../img/2019/works/play-network/mocks/styleguide.jpg')
            .img-container.outline
              img(src='../img/2019/works/play-network/mocks/styleguide-02.jpg')

        .divider

        .body-section.full

          h2 Thanks for reading!
          br
          a.button(href='/')
            | Back to works
            img(src='../img/2019/arrow_right_black.svg')

        .divider

