extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Sales Life App

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/sales-life/mocks/mockup.png')

        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li Product Strategy
              li UX Design
              li UI Design
              li Interaction Design

          .summary-item
            h2 Tools
            ul
              li Sketch
              li Principle

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p The Sales Life App is a tool built for field sales representatives to enhance their workflow while on the road chasing leads or maintaining client relationships.

            p I worked with my client to research and validate an initial hypothesis, and together we came up with a plan to develop and MVP. I designed and prototyped the tablet and mobile experiences for this app.

        .divider

        .body-section
          .body-section-title
            h2 The problem
          .body-section-content
            p My client came to me initially with a problem: that field sales representatives were incredibly underserved in their market, with few enterprise-level tools that specifically targeted them and their needs while out on the road.

            p Two of their biggest pain points were:

            ul
              li Sales reps needed to access accurate customer data in a timely fashion. Customer data was often stored in multiple systems, or required extra external data to be valuable.
              li Sales reps needed the ability to pull insights from the data. Interpreting data was time consuming, and often required a specific skill set.

            p Being in the big data industry, my client wanted to create a platform with AI-driven recommendations to take the guesswork out of customer insights, and help sales representatives be more effective.

        .divider

        .body-section
          .body-section-title
            h2 Research
          .body-section-content
            p

