extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Water Slide Estimator

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/water-slide-estimator/mocks/mockup.png')

        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li UX Design
              li UI Design

          .summary-item
            h2 Tools
            ul
              li Sketch

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p WhiteWater West is a company that designs and manufactures attractions for water parks, with features ranging from water slides to entire theme parks.

        .divider

        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p lorem ipsum