extends ../layouts/pofo-v2

block content

  .container-content#swup
    .transition-fade
      nav
        .container
          a.back(href="/")
            img(src='../img/2019/arrow_left.svg')
            | Back
          a.logo(href='/')

      .container
        .work-header-content
          h1 Water Slide Estimator

    .transition-slide-up.work-body

      .container

        .work-preview
          img(src='../img/2019/works/water-slide-estimator/mocks/mockup.png')

        .divider

        .body-section
          .summary-item
            h2 My Role
            ul
              li UX Design
              li UI Design

          .summary-item
            h2 Tools
            ul
              li Sketch

        .divider

        .work-logos
          img(src='../img/2019/works/water-slide-estimator/mocks/logo.png')


        .body-section
          .body-section-title
            h2 Context
          .body-section-content
            p WhiteWater West is a company that designs and manufactures attractions for water parks, with features ranging from water slides to entire theme parks.

            p I worked with another UX designer to design a responsive slide building tool that would empower sales people to build and estimate the cost of custom slides.

        .divider

        .body-section
          .body-section-title
            h2 The problem
          .body-section-content
            p To really understand the scope of the problem, we spoke with people on almost every team at Whitewater, from the top-level stakeholders to sales people, slide architects, designers, and estimators.

            p The process of designing, customizing, and getting price estimates for a water slide required a lot of resources and time.

            p Sales people would begin the process of discussing requirements with a prospective client, and put in a request to slide designers and architects. Once designers were able to put together a rough sketch, slide estimators could provide a final price. The entire process could take up to a week, resulting in a lot of wait time for the client. Sales people reported their competitors being able to pull estimates together much more quickly; even if they were inaccurate, it still gave them the advantage in negotiations. If the client were to have any changes or revisions, the entire cycle had to repeat again.

            .img-container
              img(src='../img/2019/works/water-slide-estimator/process/process-before.png')
              .caption Current slide estimate process.

            p Our proposal was to build a tool that would give the sales representatives the power to create ROM (rough order of magnitude) estimates that were within 10% accuracy of the final price. This would be enough to isolate iterations in the sales stage as the scope of the project was negotiated with the client. The job requests that did proceed to actual slide designers, architects, and estimators would be more finalized, requiring less future iteration and resulting in less wasted effort.

            .img-container
              img(src='../img/2019/works/water-slide-estimator/process/process-after.png')
              .caption Proposed process.

            p Though the world of water slide manufacturers was small, competition for projects was fierce. Decreasing the processing and response time when engaging with preliminary client discussions would give WhiteWater West a competitive edge in landing deals.

        .divider

        .body-section
          .body-section-title
            h2 Research
          .body-section-content
            p Not only was it important for us to understand the sales people's problems and frustrations, we also had to fully understand the slide design process and all of the complex data structures we were working with.

            p One of the more unexpected takeaways we had from this experience was how little the sales people knew about how architects and designers worked. The terminology they used for the same slide components were often completely different.

            p From the interviews with the sales team, we identified some of their major motivations and frustrations:

            ul
              li They valued human interaction and a sense of connection with their client.
              li They lived fast-paced lives and craved efficiency and instant feedback.
              li They hated losing clients to competitors due to processing time or lack of information.
              li The felt like they had no power or self-efficacy to speed up their process and seal the deal.


        .divider

        .body-section
          .body-section-title
            h2 Our solution
          .body-section-content

            p We defined some key concepts and user goals that we wanted our product to achieve:

            ul
              li
                b Flexibility:
                |  The tool should allow sales people to quickly make changes and swaps within an estimate to compare pricing.
              li
                b Efficiency:
                |  The tool should be able to generate a ROM price in as few steps as possible.
              li
                b Visual:
                |  The tool should be as visual and easy to digest as possible, eliminating the complexity in text-heavy forms.
              li
                b Accessibility:
                |  The tool should be easily understood and usable by sales reps of varying backgrounds and technical ability.
              li
                b Educational:
                |  The tool should possess the ability to act as a learning resource, allowing sales people to access the information they would need.

        .divider

        .body-section
          .body-section-title
            h2 Wireframes
          .body-section-content
            p We put together some quick, low-fidelity wireframes and prototyped it in Invision so we could test the flow and UX out with the sales reps who would be using it.

            h5 Dashboard
            p The dashboard was a grounding home page where users could quickly access the estimates they'd been working on, or create a new one.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/01-login.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/02-dashboard.jpg')
              .caption Login and dashboard.

            p Often slide requests from clients would look fairly similar to past slides. We wanted to include a "favouriting" mechanism for complexes within estimates, so commonly used slide designs could be used as springboards for building designs.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/03a-my-estimates.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/04a-fav.jpg')
              .caption Estimates and favourites.

            h5 Estimates
            p Estimates were a complex structure that, on the top level, looked pretty similar from one to another. We wanted to give users more ways to navigate and distinguish between a high volume of estimates, so we included a filter for the different slide types that an estimate contained. From what we heard, this was one of the more memorable and identifying features.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/03b-my-estimates-filter.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/03c-my-estimates-filter-selected.jpg')
              .caption Filtering on estimates.

            p Estimates ultimately had to be linked to a formal client proposal in the backend, so other team members could access the details of the project. While we wanted to encourage this behaviour early in the process, we didn't want it to be too limiting to sales people, especially since a frequent use case we heard was for them to be able to come up with a rough ROM estimate on the fly with the client, in a less official capacity.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/05-create.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/06a-skipped.jpg')
              .caption Creation allows users to skip entering the ID, and the summary page would include the data field for manual input later.

            p The estimate summary was the place where users could look at an overview of all the complexes within the scope of the project, and a running total of the slides and features.

            .img-container.medium.outline
              img(src='../img/2019/works/water-slide-estimator/process/06-estimate-summary.jpg')
              .caption Estimate summary.

            h5 Complexes

            p Estimates contained complexes, which were typically made up of an optional central tower and some number of customized water slides.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/07a-complex-builder-empty.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/07d-load-fav.jpg')
              .caption Complex creation.

            p We included the option to prepopulate data from a favourited complex as the first step. To avoid any complexities with data being overwritten, this option went away after the initial choice.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/07b-complex-builder-tower-inactive.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/07c-tower-active.jpg')
              .caption A complex with and without a tower.

            h5 Slide builder

            p A slide was a component of a larger complex, and could be customized with a large number of features.

            p Knowing this was the most data-heavy page, we wanted to keep the experience as visual as we could with a simple representation of the slide they were building.

            .img-container.medium.outline
              img(src='../img/2019/works/water-slide-estimator/process/08a-sb-general.jpg')
              .caption Slide builder.

            p As features were added to the slide, the slide model would update as well, proportional to how the final design would look.

            .img-container.outline
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/process/08c-sb-features.jpg')
                img(src='../img/2019/works/water-slide-estimator/process/08d-sb-add-feature.jpg')
              .caption Adding features.

            .img-container.medium.outline
              img(src='../img/2019/works/water-slide-estimator/process/08f-sb-measurements.jpg')
              .caption The final step.

            p As fields were specified for these custom slides, more and more constraints would be applied on the future steps. For example, slides with certain features had a minimum height requirement.

            p We sat down with a designer to come up with a list of these constraints, and wanted to surface them appropriately to the sales people so they could be armed with the knowledge they needed to build better slides.

        .divider

        .body-section
          .body-section-title
            h2 Testing
          .body-section-content
            p We were really fortunate that Whitewater was hosting a sales convention during the duration of this project. Most of their sales representatives around the world would be coming in person, and so we headed in to do some guerrilla user testing.

            p We had a list of tasks for each person to perform, and also had an open discussion with everyone on their feedback thus far.

            p Some learnings from that day:

            ul
              li It was critical that the right CTA's appeared above the fold, since scrolling was not their first instinct.
              li Users loved the slide visualization. Though nobody complained, we noticed that there was a lot of scrolling up and down to reference between the fields they were inputting and the slide model. This prompted us to rethink the slide building experience, to try to anchor the slide model on the page, and use it to ground the user.
              li CTA's in general could be bigger and more eye-catching. Some sales representatives had difficulty finding the button to create a new estimate from the dashboard.
              li The dedicated estimate creation page just created an extra step before users could get into the core experience, so we removed it. We also changed the complex creation experience to match it.

        .divider
        .body-section
          .body-section-title
            h2 The designs
          .body-section-content
            h5 Dashboard

            .img-container.outline
              .caption Dashboard.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/d-02a.jpg')
                img(src='../img/2019/works/water-slide-estimator/mocks/d-02c.jpg')

            h5 Estimates

            .img-container.outline
              .caption Estimate summary, empty.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-04a.jpg')


            .img-container.outline
              .caption Linking a proposal.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/d-04b.jpg')
                img(src='../img/2019/works/water-slide-estimator/mocks/d-04c.jpg')

            .img-container.outline
              .caption Additional proposal fields.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-04d.jpg')

            h5 Complex builder
            .img-container.outline
              .caption Complex builder, empty.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-05a.jpg')

            p Similarly to the estimate creation, we wanted to put users directly into the building context, without the extra page beforehand to funnel between the two choices. We still gave that choice, but now the experience was a little more seamless.

            .img-container.medium.outline
              .caption Complex builder, populated.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-05b.jpg')

            .img-container.outline
              .caption Complex builder, mobile experience.
              .multiple.mobile-3
                img(src='../img/2019/works/water-slide-estimator/mocks/m-05a.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-05b-1.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-05b-2.png')

            .img-container.outline
              .caption Loading from favourites, and favouriting the complex.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/d-05d.jpg')
                img(src='../img/2019/works/water-slide-estimator/mocks/d-05c.jpg')

            .img-container.outline
              .caption Favouriting experience in mobile.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/m-05c.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-05d.png')


            h5 Slide builder

            p For the desktop version of the slide builder, we moved to a layout where everything was visible at a glance, so less scrolling would be required, and the model would be visible at all times.

            .img-container.outline
              .caption Slide builder.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-06a-2.jpg')

            .img-container.outline
              img(src='../img/2019/works/water-slide-estimator/mocks/d-06b.jpg')

            .img-container.outline
              .caption Adding features.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/d-06c.jpg')
                img(src='../img/2019/works/water-slide-estimator/mocks/d-06d.jpg')

            p For mobile, we knew we wanted to prioritize the slide visual. We decided to fix it to the top of the screen, and have the bottom card dynamically change based on the step the user was currently on.

            .img-container.outline
              .multiple.mobile-3
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-1.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-2.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-3.png')
            .img-container.outline
              .multiple.mobile-3
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-4.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-5.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06a-6.png')

            .img-container.outline
              .caption Adding features, in mobile.
              .multiple.mobile-3
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06b-1.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06b-2.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06b-3.png')

            .img-container.outline
              .caption Final step.
              .multiple.desktop
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06c-1.png')
                img(src='../img/2019/works/water-slide-estimator/mocks/m-06c-2.png')


            h5 Error states

            .img-container.outline
              .caption Error in tower.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-07a.jpg')

            .img-container.outline
              .caption Error in slide.
              img(src='../img/2019/works/water-slide-estimator/mocks/d-07b.jpg')

        .divider

        .body-section
          .body-section-title
            h2 Styleguide
          .body-section-content

            .img-container
              img(src='../img/2019/works/water-slide-estimator/mocks/styleguide.png')

        .divider

        .body-section
          .body-section-title
            h2 Measuring success
          .body-section-content

            p These were the main metrics that would indicate the overall success of this slide-building tool:

            ul
              li The percentage accuracy of the ROM estimate to the actual final price of the designed slide.

              li The number of SK requests put through to designers from before compared to after.

              li The total sales targets of the company.


        .divider
        .body-section.full

          h2 Thanks for reading!
          br
          a.button(href='/')
            | Back to works
            img(src='../img/2019/arrow_right_black.svg')

        .divider

