.details.flatbook-hk
  .works-preview.flatbook-hk
  .details-content 
    h2 Flatbook - Housekeeping

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Front End Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery, UJS, ReactJS)

      .col-text
        p This is a design for Flatbook's housekeeping services, both on the housekeeper's end for taking care of an individual cleaning, and the company's side for scheduling and managing all cleanings. 

        p I was in charge of the design, user experience, and front end development of this project. I also got to work with the ReactJS framework for the single-page mobile application, which was a really fun challenge.

        p Screenshots below are mocks only, and real data is blurred.

    .screenshots
      img.mobile(src="/img/works/11-shaq/1.png")
      img.mobile(src="/img/works/11-shaq/2.png")
      img.mobile(src="/img/works/11-shaq/3.png")
      img(src="/img/works/11-shaq/4.png")
      img(src="/img/works/11-shaq/5.png")