.details.flatbook-site
  .works-preview.flatbook-site
  .details-content 
    h2 Flatbook - Website

    a.icon-link(href="http://flatbook.co/", target="_blank")
      .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Front End Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery)
        .label 
          .dot.default
          | Wordpress

      .col-text
        p Flatbook is a property management company that specializes in short term rentals, partnering with homeowners and landlords to bring a consistent, quality travel experience to their guests.

        p 
          | This was a complete redesign of the existing Flatbook website at the time. After developing the brand and making core decisions on mood, voice, and colours, I worked with the creative team and a back end developer to put together new 
          a(href="https://www.flatbook.co/property-management", target="_blank") partnership pages
          | , an 
          a(href="http://www.flatbook.co/about", target="_blank") about
          |  page, a 
          a(href="http://www.flatbook.co/contact", target="_blank") contact
          |  page, an 
          a(href="http://www.flatbook.co/faq", target="_blank") FAQ
          | , a wordpress 
          a(href="http://blog.flatbook.co", target="_blank") blog
          | , and a 
          a(href="http://www.flatbook.co/careers", target="_blank") careers
          |  page. Design and development on all pages were done and improved on through sprints and continual iteration.

        p My role throughout these pages spanned both design and front-end development.
    .screenshots
      img(src="/img/works/07-flatbook-website/1.jpg")
      img(src="/img/works/07-flatbook-website/2.jpg")
      img(src="/img/works/07-flatbook-website/3.jpg")
      img(src="/img/works/07-flatbook-website/4.jpg")