.details.flatbook-booking
  .works-preview.flatbook-booking
  .details-content 
    h2 Flatbook - Booking Site

    a.icon-link( href="https://www.flatbook.co/s/nightly/locations" )
      .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Front End Developer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery, KnockoutJS)
        .label 
          .dot.default
          | Wordpress

      .col-text
        p Flatbook is a property management company that specializes in short term rentals, partnering with homeowners and landlords to bring a consistent, quality travel experience to their guests.

        p This was a design for Flatbook's new booking website, incorporating the new brand we had developed. We wanted the pages to be warm and fun, true to tone we wanted the company to convey, while being functional and informative. We put a lot of value on user interaction, especially on the landing page to make each section unique and interactive. 

        p I worked with the creative team and a back end developer to put these pages together. Over the course of 6 months, these pages also went through an iterative cycle of improvement, later sprints bringing in page load speed, visual refinements, and user experience re-designs.

    .screenshots
      img(src="/img/works/06-flatbook-booking-website/0.jpg")
      img(src="/img/works/06-flatbook-booking-website/1.jpg")
      img(src="/img/works/06-flatbook-booking-website/2.jpg")
      img(src="/img/works/06-flatbook-booking-website/3.jpg")
      img(src="/img/works/06-flatbook-booking-website/4.jpg")
      img(src="/img/works/06-flatbook-booking-website/5.jpg")
      img(src="/img/works/06-flatbook-booking-website/6.jpg")

