.details.travelhacks
  .works-preview.travelhacks
  .details-content 
    h2 TravelHacks 2016

    a.icon-link( href="http://travelhackathon.com/" )
      .icon

    .two-col
      .col-role

        h3 My Role:
        .label
          .dot.design
          | Designer
        .label
          .dot.dev 
          | Front End Developer
        .label
          .dot.org 
          | Organizer

        .divide

        h3 Technology:
        .label 
          .dot.default
          | HTML/Haml
        .label  
          .dot.default
          | CSS/Sass
        .label  
          .dot.default
          | Ruby on Rails
        .label 
          .dot.default
          | JavaScript (Jquery)

      .col-text
        p On the weekend of June 19th, I organized a travel-themed hackathon that was hosted at Flatbook's headquarters. Registration was open to all of Montreal, and we ended up having around 40 participants join us for the weekend and come up with some awesome hacks. 

        p I was fully in charge of the hackathon's branding, design, and landing page throughout the days leading up to the event.

    .screenshots
      img(src="/img/works/09-travelhacks/1.jpg")