section.section-me
  .selfie

  .text
    .location Vancouver, BC

    p Hi, I'm Shanna.
    p I'm a UI/UX product designer, and front-end developer.
    p
      | I create websites, from simple landing pages to full online platforms. Drop me
      a(href="mailto:lashimmer@gmail.com?subject=I've got a cool project" target="_blank") a line
      |  if you want to chat, I'd love to talk!

  .container-nav
    a.linkedin(href="https://ca.linkedin.com/in/lashimmer" target="_blank")
    a.dribbble(href="https://www.dribbble.com/shnnwng" target="_blank")
    a.github(href="https://github.com/lashimmer" target="_blank")
    a.behance(href="https://www.behance.net/shannawang" target="_blank")
