.detail-container
  .detail-bg
  .detail-body
    .detail-close

    include ./2016/details/poolr.jade

    include ./2016/details/youcollab.jade

    include ./2016/details/travelhacks.jade

    include ./2016/details/flatbook-checkin.jade

    include ./2016/details/flatbook-hk.jade

    include ./2016/details/flatbook-error.jade

    include ./2016/details/flatbook-site.jade

    include ./2016/details/flatbook-booking.jade

    include ./2016/details/flatbook-brand.jade

    include ./2016/details/dobundle.jade

