section.section-works#works

  .works-item#poolr
    .works-title
      p poolr
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
    .works-preview.poolr

  .works-item#youcollab
    .works-title
      p youcollab
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
    .works-preview.youcollab

  .works-item#travelhacks
    .works-title
      p travelhacks 2016
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
        .dot.org
          .tooltip-tri
          .tooltip Organizer
    .works-preview.travelhacks

  .works-item#flatbook-checkin
    .works-title
      p flatbook – check in
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.flatbook-checkin

  .works-item#flatbook-hk
    .works-title
      p flatbook – housekeeping
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.flatbook-hk

  .works-item#flatbook-booking
    .works-title
      p flatbook – booking site
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.flatbook-booking

  .works-item#flatbook-error
    .works-title
      p flatbook – error page
      .role
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.flatbook-error

  .works-item#flatbook-site
    .works-title
      p flatbook – website
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.flatbook-site

  .works-item#flatbook-brand
    .works-title
      p flatbook – branding
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
    .works-preview.flatbook-brand

  .works-item#dobundle
    .works-title
      p dobundle
      .role
        .dot.design
          .tooltip-tri
          .tooltip Designer
        .dot.dev
          .tooltip-tri
          .tooltip Developer
    .works-preview.dobundle